@model GP.Models.Estate

@{
    
    ViewData["Title"] = "تفاصيل العقار";
       // Layout = "~/Views/Shared/_LayoutOwner.cshtml";

          if (User.IsInRole("Owner"))
    {
        Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml"; 
    }

}
<div class="text-start position-absolute left-0" style="border-bottom: 2px solid var(--orange);left: 20px;top: 20px;">
    <a asp-action="Index" style="text-decoration:none; color:var(--orange);">رجوع للعقارات <i class="bi bi-arrow-90deg-right"></i></a>
</div>


@if (GP.Models.Toast.ShowTost)
{
    GP.Models.Toast.ShowTost = false;
    <div id="mymessage" class="toast align-items-center text-white bg-success border-0" role="alert"  data-delay="10000" data-autohide="true" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                @GP.Models.Toast.Message
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
}


<div class="text-center">
    <h3>تفاصيل العقار</h3><hr />
<br />
</div>
<div class="container-fluid pt-5 pt-lg-0">
    <div class="row">
     <div class="col-12 col-md-8 ">


      <p>
            <div class="d-flex justify-content-around">
                <p class="px-3"><span>@Html.DisplayNameFor(model => model.name_owner): </span><strong>@Html.DisplayFor(model => model.name_owner)</strong></p>
                <p class="px-3"><span>@Html.DisplayNameFor(model => model.phone_num): </span><strong>@Html.DisplayFor(model => model.phone_num)</strong></p>
            </div>
        </p>

        <p class="fs-4"><strong>- @Html.DisplayFor(model => model.name)   </strong><sub><span>@Html.DisplayFor(model => model.Type.type)</span>  <span>@Html.DisplayFor(model => model.Category.category)</span></sub></p>

        
        <p class="fs-5"><span> @Html.DisplayFor(model => model.description)</span></p>
        <p class="fs-5 text-secondary"><strong><i class="bi bi-geo-alt-fill"></i> @Html.DisplayFor(model => model.State.name) - @Html.DisplayFor(model => model.City.name)</strong></p>

        <p>
            <div class="d-flex justify-content-around">
                <p class="px-3"><span>@Html.DisplayNameFor(model => model.price): </span><strong>@Html.DisplayFor(model => model.price)@Html.DisplayFor(model => model.Currency.currency)</strong></p>
                <p class="px-3"><span>@Html.DisplayNameFor(model => model.space): </span><strong>@Html.DisplayFor(model => model.space)</strong></p>
            </div>
        </p>
        <p>
            <div class="d-flex justify-content-around">
                <p class="px-3"><span>@Html.DisplayNameFor(model => model.Longitude): </span><strong id="Long">@Html.DisplayFor(model => model.Longitude)</strong></p>
                <p class="px-3"><span>@Html.DisplayNameFor(model => model.Latitude): </span><strong id="Lat">@Html.DisplayFor(model => model.Latitude)</strong></p>
            </div>
            <div id="map" style="width: 100%; height: 450px; margin:12px 0;"></div>
        </p>

      </div>


      <div class="col-12 col-md-4 text-center pt-5 mt-3">
        <img class="img-fluid" src="~/images/Estate/@Html.DisplayFor(model => model.Main_photo)" />
        <p class="text-secondary py-3">@Html.DisplayFor(model => model.OnDate) <i class="bi bi-calendar-event"></i></p>
        <p>@Html.DisplayNameFor(model => model.is_active) @Html.DisplayFor(model => model.is_active)</p>
        <p>@Html.DisplayNameFor(model => model.is_spacial) @Html.DisplayFor(model => model.is_spacial)</p>
      </div>
    </div>
</div>



@*<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@


@section Scripts {
    <script>

        var myToastEl = document.getElementById('mymessage');
        var myToast = bootstrap.Toast.getOrCreateInstance(myToastEl);
        myToast.show();

    </script>

    
  
<script>
       var x = document.getElementById('Long');
    var xx= x.innerHTML;

    var y = document.getElementById('Lat');
        var yy= y.innerHTML;
    
        function initMap() {

         
            var mapOptions = {
                center: new google.maps.LatLng(`${xx}`, `${yy}`),
                mapTypeId: google.maps.MapTypeId.satellite,   /* ()أنواع 4)نوع الخريطة*/
                zoom: 16 // The largest 16 (zooming)
            };
            var elm = document.getElementById('map');
            var mymap = new google.maps.Map(elm, mapOptions);  // create an object (new)

            var pinlocation = new google.maps.LatLng(`${xx}`, `${yy}`);
            var startposition = new google.maps.Marker(
                {
                    position: pinlocation,
                    map: mymap,
                    icon: "/images/Untitled-1.png"

                });
        }
        window.onload = function () {
            var code = document.createElement('script');
            code.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyAXuizXxXdy3kjKyHQrjt7femrQR2QtZaE&callback=initMap";
            document.body.appendChild(code);
        }
    </script>

  
}



