@model IEnumerable<GP.Models.Estate>

@{
    ViewData["Title"] = "Index";
   // Layout = "~/Views/Shared/_LayoutOwner.cshtml";



    if (User.IsInRole("Owner"))
    {
        Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
    }
       
}

<style>
.btn-outline-info:not(:disabled):not(.disabled).active:focus, .btn-outline-info:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-info.dropdown-toggle:focus{
    box-shadow:none;
   
}
 .btn:focus{
         box-shadow:none !important;
    }
</style>

<div class="text-center pt-3 pb-5">
    <p class=" fw-bold borderbottom fs-3 d-inline-block">عقاراتي</p>
</div>


@if (GP.Models.Toast.ShowTost)
{
     
       GP.Models.Toast.ShowTost = false;
     
    <div id="mymessage" class="toast align-items-center text-white bg-primary border-0" role="alert"  data-delay="10000" data-autohide="true" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                @GP.Models.Toast.Message
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
}


<div class="text-start position-absolute left-0" style="border-bottom: 2px solid var(--orange);left: 20px;top: 20px;">
    <a asp-action="CreateTemp"  style="text-decoration:none; color:var(--orange);">اضافة عقار <i class="bi bi-plus"></i></a>
</div>



@* class="rounded " height="50" width="50" style="border-radius: 50%"*@

@foreach (var item in Model) { 

<div class="card mb-3" style="background-color:var(--bgwhite)">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="~/images/Estate/@item.Main_photo" class="img-fluid rounded-start h-100" >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title fs-4"><strong>- @Html.DisplayFor(modelItem => item.name)</strong><sub><span>@Html.DisplayFor(modelItem => item.Type.type)</span>  <span>@Html.DisplayFor(modelItem => item.Category.category)</span></sub></h5>
        <p class="card-text">@Html.DisplayFor(modelItem => item.description)</p>
        <p class="card-text"><strong>مساحة العقار:@Html.DisplayFor(modelItem => item.space)</strong></p>
        <div class=" card-text d-flex">
            <p class="card-text "><strong><i class="bi bi-geo-alt-fill"></i> @Html.DisplayFor(modelItem => item.State.name) - @Html.DisplayFor(modelItem => item.City.name)</strong></p>
            <p class="card-text pe-5"><strong><i class="bi bi-cash-coin"></i> <span>@Html.DisplayNameFor(modelItem => item.price): </span>@Html.DisplayFor(modelItem => item.price)@Html.DisplayFor(modelItem => item.Currency.currency)</strong></p>
        </div>
        <div class=" card-text d-flex">
            <p>الحالة: @{@if (@item.publish)
                        {
                            <div class="form-check form-switch">
                              <label class="form-check-label" for="mySwitch">منشور</label>
                              <input class="form-check-input" type="checkbox" id="mySwitch" name="darkmode" value="yes" checked>
                            </div>
                        }
                        else
                        {
                            <div class="form-check form-switch">
                              <label class="form-check-label" for="mySwitch">غير منشور</label>
                              <input class="form-check-input" type="checkbox" id="mySwitch" name="darkmode" value="NO" >
                            </div>
                        }
                    }</p>
        </div>
        <div class="d-flex">
                <a href="Estate/Detalis/@item.Id" class="btn btn-outline-info ms-3" >عرض العقار</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning ms-3" >Edit</a> 
                <a asp-action="ImageList" asp-route-id="@item.Id" class="btn btn-outline-secondary ms-3" >الصور</a> 
                <a asp-controller="Contract"  asp-action="CreateContract" asp-route-id="@item.Id" class="btn btn-outline-success ms-3" > العقد</a>
                <a asp-action="X" asp-route-id="@item.Id" onclick=" return confirm('هل تريد تغير حالة العقار (عرض العقار')"  > الحالة ؟</a>
        </div>
    </div>
    </div>
  </div>
</div>
}


@section Scripts{
     @(await Html.PartialAsync("_ValidationScriptsPartial"));

         

     <script>

        var myToastEl = document.getElementById('mymessage');
        var myToast = bootstrap.Toast.getOrCreateInstance(myToastEl);
        myToast.show();

    </script>
}