@model GP.Models.AppUser
@{
    ViewData["Title"] = "الرئيسية";
}

                <section class="row justify-content-center text-center mb-3">
                    <div class="col-12 col-md-6 col-lg-3 p-3 ">
                        <div class="d-flex justify-content-center align-items-center bgshadow py-3 rounded-3">
                            <span class="bgicon p-3 rounded-circle mx-2">
                                <i class="bi bi-people fs-3 p-1"></i>
                            </span>
                            <span class="fonttext">
                                <p class="fs-4 fw-bold m-0">@ViewBag.Active</p>
                                <p class="fs-5 m-0">عدد  النشطين على الموقع</p>
                            </span>
                        </div>

                    </div>
                    <div class="col-12 col-md-6 col-lg-3 p-3 ">
                        <div class="d-flex justify-content-center align-items-center bgshadow py-3 rounded-3">
                            <span class="bgicon p-3 rounded-circle mx-2">
                               <i class="bi bi-house-door fs-3 p-1"></i>
                            </span>
                           <span class="fonttext">
                                <p class="fs-4 fw-bold m-0">@ViewBag.Estate</p>
                                <p class="fs-5 m-0">عدد العقارات في الموقع</p>
                            </span>
                        </div>

                    </div>

                    <div class="col-12 col-md-6 col-lg-3 p-3 ">
                        <div class="d-flex justify-content-center align-items-center bgshadow py-3 rounded-3">
                            <span class="bgicon p-3 rounded-circle mx-2">
                                <i class="bi bi-people fs-3 p-1"></i>
                            </span>
                             <span class="fonttext">
                                <p class="fs-4 fw-bold m-0">@ViewBag.Users</p>
                                <p class="fs-5 m-0">عدد المستخدمين المسجلين في الموقع</p>
                            </span>
                        </div>

                    </div>
                     <div class="col-12 col-md-6 col-lg-3 p-3 ">
                        <div class="d-flex justify-content-center align-items-center bgshadow py-3 rounded-3">
                            <span class="bgicon p-3 rounded-circle mx-2">

                                <i class="bi bi-card-heading fs-3 p-1"></i>
                            </span>
                           <span class="fonttext">
                                <p class="fs-4 fw-bold m-0">@ViewBag.Contract</p>
                                <p class="fs-5 m-0">عدد العقود في الموقع</p>
                            </span>
                        </div>

                    </div>
                      <div class="col-12 col-md-6 col-lg-3 p-3 ">
                        <div class="d-flex justify-content-center align-items-center bgshadow py-3 rounded-3">
                            <span class="bgicon p-3 rounded-circle mx-2">
                                <i class="bi bi-pencil-square fs-3 p-1"></i>
                            </span>
                           <span class="fonttext">
                                <p class="fs-4 fw-bold m-0">@ViewBag.Advertisement</p>
                                <p class="fs-5 m-0">عدد الاعلانات في الموقع</p>
                            </span>
                        </div>

                    </div>
                    <div class="col-12 col-md-6 col-lg-3 p-3 ">
                        <div class="d-flex justify-content-center align-items-center bgshadow py-3 rounded-3">
                            <span class="bgicon p-3 rounded-circle mx-2">
                                <i class="bi bi-people fs-3 p-1"></i>
                            </span>
                           <span class="fonttext">
                                <p class="fs-4 fw-bold m-0">@ViewBag.Owner</p>
                                <p class="fs-5 m-0">عدد أصحاب العقارات في الموقع</p>
                            </span>
                        </div>

                    </div>
                   
                   @*  <div class="col-12 col-md-6 col-lg-3 p-3 ">
                        <div class="d-flex justify-content-center align-items-center bgshadow py-3 rounded-3">
                            <span class="bgicon p-3 rounded-circle mx-2">
                                <i class="bi bi-people fs-3 p-1"></i>
                            </span>
                           <span class="fonttext">
                                <p class="fs-4 fw-bold m-0">@ViewBag.Estate</p>
                                <p class="fs-5 m-0">عدد العقارات في الموقع</p>
                            </span>
                        </div>

                    </div>*@
                    
                </section>



                <div class="row justify-content-between g-3">

                    <div class="col-12 col-lg-6 rounded-3 p-lg-3 ">
                        <div class="bgshadow p-3" style="height: 550px;">
                            <span class="fs-3">نسبة عدد العقارات لعدد تسجيل الدخول بالموقع</span>
                            <div class="pt-5">
                                <canvas id="myChart" style="width:100%;max-width:900px;"></canvas>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-lg-6 rounded-3 p-lg-3 ">
                        <div class="bgshadow p-3" style="height: 550px;">
                            <span class="fs-3">نسبة العقارات في كل مدينة</span>
                            <div class="pt-5 d-flex justify-content-center">
                                <canvas id="myChart2" style="width:100%;max-width:400px"></canvas>
                            </div>
                        </div>
                    </div>


                </div>




@section Scripts{
    @(await Html.PartialAsync("_ValidationScriptsPartial"));
    <script type="text/javascript">
        
        $(document).ready(function () {
            $("#Owners").DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "responsive": true,
                "lengthMenu": [10, 20, 30, 40, 50],
                "stateSave":true,
                "language":{ url:'/assets/ar.json'},
                "ajax": {
                    "url": '/api/Api/GetOwners',
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                }],
                "columns": [
                    { "data": "id", "name": "Id", "autowidth": true },
                    { "data": "firstName", "name": "FirstName", "autowidth": true },
                    { "data": "lastName", "name": "LastName", "autowidth": true },
                    { "data": "userName", "name": "UserName", "autowidth": true },
                    {
                        "render": function (data, type, row) {
                            if (row.is_active) {
                                return '<span>نشط</span>'
                            }
                            else {
                                return '<span>غير نشط</span>'
                            }

                        },
                        "orderable": false
                    },

                    { "data": "memory", "name": "memory", "autowidth": true },
                    {
                        "render": function (data, type, row) { return '<img src="' + row.imagePath + '" class=" w-25 h-25" asp-append-version="true" />' },
                        "orderable": false
                    },
                    {
                        "render": function (data, type, row) { return '<a href="#" class="btn btn-outline-danger" onclick=DeleteCategory("' + row.id + '"); > تفاصيل </a>' },
                        "orderable": false
                    },
                    {
                        "render": function (data, type, row) {
                            if (row.is_active) {
                                return '<a href="#" id="btnStates" class="btn btn-outline-danger" onclick=BlockUser("' + row.id + '"); > تقييد </a>'
                            }
                            else {
                                return '<a href="#" id="btnStates" class="btn btn-outline-danger" onclick=UnBlockUser("' + row.id + '"); > تفعيل </a>'
                            }

                        },
                        "orderable": false
                    },
                    {
                        "render": function (data, type, row) { return '<a href="#" class="btn btn-secondary" onclick=AddToMemory("' + row.id + '"); > إضافة للحافظة  </a>' },
                        "orderable": false
                    },
                    {
                        "render": function (data, type, row) { return '<a href="#" class="btn btn-danger" onclick=DeleteCategory("' + row.id + '"); > حذف </a>' },
                        "orderable": false
                    },
                ]
            });
        });

        function AddToMemory(Id) {
            $("#inputId").val(Id);
            $("#Add").click();
            $("#btnAdd").hide();
            $("#btnAddMemory").show();
        }

        $("#btnAddMemory").click(function () {
            $.ajax({
                method: 'Get',
                url: `/Admin/UserOperation/AddToMemory`,
                data: { id: $("#inputId").val(), count: $("#numDays").val() },
                success: function () {
                    Swal.fire(
                        'تمت بنجاح',
                        'تم الاضافة للحافظة بنجاح',
                        'success'
                    );

                    $("#btnClose").click();
                    var Table = $("#Owners").DataTable();
                    Table.draw();
                }
            });
        });

        function DeleteCategory(Id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        method: 'Get',
                        url: `/Admin/CategoryOperation/Delete/${Id}`,
                        data: JSON.stringify({ id: Id }),
                        success: function () {
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )
                            var Table = $("#Owners").DataTable();
                            Table.draw();
                        }
                    });

                }
            })

        }

        $("#formadd").on("submit", function (e) {
            e.preventDefault();
        })
        function UnBlockUser(Id) {
            $.ajax({
                method: 'Get',
                url: `/Admin/UserOperation/UnBlockUser`,
                data: { id: Id },
                success: function () {
                    Swal.fire(
                        'التفعيل!',
                        'تم فك القيد بنجاح.',
                        'success'
                    );
                    var Table = $("#Owners").DataTable();
                    Table.draw(false);
                }
            });
        }
        function BlockUser(Id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "أنت سوف تقوم تقييد المستخدم",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {

                    $.ajax({
                        method: 'Get',
                        url: `/Admin/UserOperation/BlockUser`,
                        data: { id: Id },
                        success: function () {
                            Swal.fire(
                                'Blocked!',
                                'Your file has been Blocked.',
                                'success'
                            );

                            $("#btnClose").click();
                            var Table = $("#Owners").DataTable();
                            Table.draw();
                        }
                    });

                }
            })

        }


    </script>
}

