@model GP.Models.ViewModels.VMType;
@{
    ViewData["Title"] = "Home Page";
}

<button id="Add" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
        class="btn btn-sm btn-outline-primary ms-2" data-toggle="modal">
    اضافة
</button>
<hr />


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div style="margin:10px!important;">
                <form id="formadd" method="post">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-12">
                            <div class="form-group" hidden>
                                <label for="edit_name_en" class="my-3">الرقم</label>
                                <input id="id" asp-for="@Model.Id" class="form-control" placeholder="Id" name="Id" />
                                <span asp-validation-for="@Model.Id" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="edit_name_en" class="my-3">إسم الفئة</label>
                                <input id="fname" asp-for="@Model.type" class="form-control" required placeholder="Category Name" name="type" />
                                <span asp-validation-for="@Model.type" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="edit_name_ar" class="my-3">الصورة</label>
                                <input id="lname" asp-for="@Model.file" class="form-control " onchange="img_pathUrl(this)" placeholder="Image" name="file" />
                                <span asp-validation-for="@Model.file" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <img id="image" src="" alt="..." class="w-25 h-25" asp-append-version="true" />
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="btnAdd" type="submit" class="btn btn-outline-primary">Add</button>
                    <button id="btnEdit" type="submit" class="btn btn-outline-primary">Edit</button>
                </form>
            </div>

        </div>
    </div>
</div>

<table id="Services" class="table table-striped table-bordered  flex-nowrap" style="direction:rtl;">
    <thead>
        <tr>
            <th>الرقم</th>
            <th> النوع </th>
            <th> الصورة </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Services").DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "responsive": true,
                "lengthMenu": [10, 20, 30, 40, 50],
                "language": {
                    "search": "ابحث",
                    "lengthMenu": "عرض _MENU_ صفوف"
                },
                "ajax": {
                    "url": '/api/Api/GetType',
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                }],
                "columns": [
                    { "data": "id", "name": "Id", "autowidth": true },
                    { "data": "type", "name": "type", "autowidth": true },
                    {
                        "render": function (data, type, row) { return '<img src="' + row.imagePath + '" class=" w-25 h-25" asp-append-version="true" />' },
                        "orderable": false
                    },
                    {
                        "render": function (data, type, row) { return '<a href="#" class="btn btn-outline-danger" onclick=DeleteCustomer("' + row.id + '"); > Delete </a>' },
                        "orderable": false
                    },
                    {
                        "render": function (data, type, row, meta) { return '<a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-sm btn-outline-primary ms-2" data-toggle="modal" onclick=EditItem(' + JSON.stringify(row) + '); > Edit </a>' },
                        "orderable": false
                    },

                ]
            });
        });
        function EditItem(data) {
            $("span").text("");
            $("#btnAdd").hide();
            $("#btnEdit").show();
            $("#id").val(data.id);
            $("#fname").val(data.type);
            $("#image").attr("src", data.imagePath);
        }
        function DeleteCustomer(Id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        method: 'Get',
                        url: `/Admin/Type/Delete/${Id}`,
                        data: JSON.stringify({ id: Id }),
                        success: function () {
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )
                            var Table = $("#Services").DataTable();
                            Table.draw();
                        }
                    });

                }
            })

        }
        $("#Add").on("click", function () {
            $("#btnAdd").show();
            $("#btnEdit").hide();
            $("input").val("");
            $("span").text("");
            $('#image')[0].src = "";
        });
        function img_pathUrl(input) {
            $('#image')[0].src = (window.URL ? URL : webkitURL).createObjectURL(input.files[0]);
        }
        $("#btnAdd").on("click", function () {
            if ($("#lname").val() != "" && $("#fname").val() != "") {
                var nameEdit = $("#fname").val();
                for (var i = 0; i < nameEdit.length; i++) {
                    nameEdit = nameEdit.replace(" ", "_");
                }
                $("#fname").val(nameEdit);
                var data = new FormData($("#formadd").get(0));
                $.ajax({
                    method: 'Post',
                    url: '/Admin/Type/Create',
                    data: data,
                    processData: false,
                    contentType: false,
                    success: function () {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Item has been added successfully',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        $("#staticBackdrop").modal('hide');
                        var Table = $("#Services").DataTable();
                        Table.draw();
                    }
                });
            }



        });
        $("#formadd").on("submit", function (e) {
            e.preventDefault();
        })
        $("#btnEdit").on("click", function () {
            if ($("#fname").val() != "") {
                var nameEdit = $("#fname").val();
                for (var i = 0; i < nameEdit.length; i++) {
                    nameEdit = nameEdit.replace(" ", "_");
                }
                $("#fname").val(nameEdit);
                var data = new FormData($("#formadd").get(0));
                
                $.ajax({
                    method: 'Post',
                    url: '/Admin/Type/Edit',
                    data: data,
                    processData: false,
                    contentType: false,
                    success: function () {
                        $("#staticBackdrop").modal('hide');
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'تم التعديل بنجاح',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        var Table = $("#Services").DataTable();
                        Table.draw();
                    }
                });
            }

        })
    </script>
}



