@model GP.Models.ViewModels.VMType;
@{
    ViewData["Title"] = "الأنواع";
}



<button id="Add" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
        class="btn mb-4 mt-1 fw-bold fs-5 modebutton float-left rounded-pill" data-toggle="modal">
    اضافة نوع
</button>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div style="margin:10px!important;">
                <form id="formadd" method="post">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-12">
                            <div class="form-group" hidden>
                                <label for="edit_name_en" class="my-3">الرقم</label>
                                <input id="id" asp-for="@Model.Id" class="form-control" placeholder="Id" name="Id" />
                                <span asp-validation-for="@Model.Id" class="text-danger span"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="edit_name_en" class="my-3">إسم النوع</label>
                                <input id="fname" asp-for="@Model.type" class="form-control rounded-pill" required placeholder="إسم النوع" name="type" />
                                <span asp-validation-for="@Model.type" class="text-danger span"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="edit_name_ar" class="my-3">الصورة</label>
                                <input id="lname" asp-for="@Model.file" class="form-control formFile rounded-pill " onchange="img_pathUrl(this)" placeholder="Image" name="file" />
                                <span asp-validation-for="@Model.file" class="text-danger span"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group text-center">
                                <img id="image" src="" alt="..." class="w-25 h-25" asp-append-version="true" />
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                           <button id="btnAdd" type="submit" class="btn rounded-pill" style=" color: #fff;background-color: #0f4f54;border-color: #198754;">اضافة</button>
                    <button id="btnEdit" type="submit" class="btn rounded-pill" style=" color: #fff;background-color: #0f4f54;border-color: #198754;">تعديل</button>
                    <button id="btnClose" type="button" class="btn rounded-pill btn-secondary" data-bs-dismiss="modal">اغلاق</button>
              
                    </div>
                

                
                </form>
            </div>

        </div>
    </div>
</div>

<table id="Services" class="table responsive cell-border hover text-center" style="width: 100%">
    <thead>
        <tr>
            <th>الرقم</th>
            <th> النوع </th>
            <th> الصورة </th>
            <th>نعديل</th>
            <th>حذف</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Services").DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "responsive": true,
                "lengthMenu": [10, 20, 30, 40, 50],
                "stateSave":true,
                "language":{ url:'/assets/ar.json'},
                "ajax": {
                    "url": '/api/Api/GetType',
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                }],
                "columns": [
                    { "data": "id", "name": "Id", "autowidth": true },
                    { "data": "type", "name": "type", "autowidth": true },
                    {
                        "render": function (data, type, row) { return '<img style="width: 110px; height: 70px;" src="' + row.imagePath + '"  asp-append-version="true" />' },
                        "orderable": false
                    },
                    
                    {
                        "render": function (data, type, row, meta) { return '<a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn btn-success " data-toggle="modal" onclick=EditItem(' + JSON.stringify(row) + '); > تعديل </a>' },
                        "orderable": false
                    },
                    {
                        "render": function (data, type, row) { return '<a href="#" class="btn btn-danger" onclick=DeleteCustomer("' + row.id + '"); > حذف </a>' },
                        "orderable": false
                    },

                ]
            });
        });
        function EditItem(data) {
            $(".span").text("");
            $("#btnAdd").hide();
            $("#btnEdit").show();
            $("#id").val(data.id);
            $("#fname").val(data.type);
            $("#image").attr("src", data.imagePath);
        }
        function DeleteCustomer(Id) {
            Swal.fire({
                title: 'هل أنت متأكد؟',
                text: "لن تتمكن من التراجع عن هذا!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33 ',
                confirmButtonText: 'نعم ، احذفها!',
                cancelButtonText: "الغاء",    

            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        method: 'Get',
                        url: `/Admin/Type/Delete/${Id}`,
                        data: JSON.stringify({ id: Id }),
                        success: function () {
                            Swal.fire({
                                 title:   'تم الحذف!',
                                  position: 'top-end',
                                 icon: 'success',
                                 showConfirmButton: false,
                                 timer: 1500,
                              
               
                            

                                })
                            var Table = $("#Services").DataTable();
                            Table.draw();
                        }
                    });

                }
            })

        }
        $("#Add").on("click", function () {
            $("#btnAdd").show();
            $("#btnEdit").hide();
            $("input").val("");
            $(".span").text("");
            $('#image')[0].src = "";
        });
        function img_pathUrl(input) {
            $('#image')[0].src = (window.URL ? URL : webkitURL).createObjectURL(input.files[0]);
        }
        $("#btnAdd").on("click", function () {
            if ($("#lname").val() != "" && $("#fname").val() != "") {
                var nameEdit = $("#fname").val();
                for (var i = 0; i < nameEdit.length; i++) {
                    nameEdit = nameEdit.replace(" ", "_");
                }
                $("#fname").val(nameEdit);
                var data = new FormData($("#formadd").get(0));
                $.ajax({
                    method: 'Post',
                    url: '/Admin/Type/Create',
                    data: data,
                    processData: false,
                    contentType: false,
                    success: function () {
                       Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'تمت إضافة العنصر بنجاح',
                            showConfirmButton: false,
                            timer: 1500,
                            
                        })
                        $("#btnClose").click();
                        var Table = $("#Services").DataTable();
                        Table.draw();
                    }
                });
            }



        });
        $("#formadd").on("submit", function (e) {
            e.preventDefault();
        })
        $("#btnEdit").on("click", function () {
            if ($("#fname").val() != "") {
                var nameEdit = $("#fname").val();
                for (var i = 0; i < nameEdit.length; i++) {
                    nameEdit = nameEdit.replace(" ", "_");
                }
                $("#fname").val(nameEdit);
                var data = new FormData($("#formadd").get(0));
                
                $.ajax({
                    method: 'Post',
                    url: '/Admin/Type/Edit',
                    data: data,
                    processData: false,
                    contentType: false,
                    success: function () {
                        $("#btnClose").click();
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'تم التعديل بنجاح',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        var Table = $("#Services").DataTable();
                        Table.draw();
                    }
                });
            }

        })
    </script>
}



