@{
 

     Layout = "/Views/Shared/_Layout.cshtml";

    
}
    @inject UserManager<AppUser> _userManager;
   
    @{
            var user = await _userManager.GetUserAsync(User);

    } 
    
<link rel="stylesheet" href="~/indexLayout/assets/css/UsersProfiles.css">


     <div class="container">
         <div class="row justify-content-center align-item-center">
              <div class="col-12 pt-lg-5 col-lg-3 col-xl-2 prf">
                <a href="/Identity/Account/Manage/PersonalUser" class="nav-link @ManageNavPages.IndexPersonalUserNavClass(ViewContext) fw-bold text-center m-1">
                  <i class="bi bi-person-fill"></i>المعلومات الشخصية
                </a>
                <a asp-controller="likedEstates" asp-area="" asp-action="Index" class="nav-link @ManageNavPages.IndexLikedNavClass(ViewContext)  m-1 fw-bold text-center"  onclick="openTab(event, 'aqar', 'arrow2')">
                       <i class="bi bi-person-fill"></i>عقارات أعجبتكك
                </a>
                <a href="" class="nav-link @ManageNavPages.IndexPersonalUserNavClass(ViewContext) fw-bold text-center m-1">
                  <i class="bi bi-person-fill"></i>تحدث مع صاحب عقار
                </a>
            </div>
                       
             <div class="col-12 col-lg-9 col-xl-10 my-3 py-3 shado justify-content-center text-end">
                   @RenderBody()
            </div>
        </div>
        
    </div>

        
@section Scripts {
    @RenderSection("Scripts", required: false)

}