   @using GP
  @{
  if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
  {
    Layout = (string)parentLayout;
  }
  else
  {
  //Layout = "/Areas/Identity/Pages/_Layout.cshtml";
  Layout = "/Views/Shared/_Layout.cshtml";

  
  }
  }
  @inject UserManager<AppUser> _userManager;
    @{
    var user = await _userManager.GetUserAsync(User);
    
    }



    <section class="">
      <div class="container-md py-4">
        <div class="row">
          <div class="col-12 col-lg-3 ">

            <div class="profile-sidebar text-center">
              <div class="pt-4 ">
                @{
                if (SeedData.IsPserosalPhoto)
                {
                <div class="profile-pic">
                  <label class="-label" for="file">
                    <span class="glyphicon glyphicon-camera"></span>
                    <span>تغيير الصورة</span>
                  </label>
                  @{

                  if (user.ProfilePicture is not null)
                  {
                  <img id="prof" class="img-fluid circle" alt="Profile"
                    src="data:image/*;base64,@(Convert.ToBase64String(user.ProfilePicture))" />
                  }

                  else
                  {
                  <img id="prof" class="img-fluid circle" alt="Profile"
                    src="~/indexLayout/assets/img/pages/user.jpg" />

                  }
                  }
                  <input onclick="clickOn()" id="file" class="d-none" />


                </div>
                }

                else
                {
                <div class="profile-userpic">
                  <div class="profile-pic">
                    <label class="d-block" style="height:165px;width:165px">

                    </label>
                    @{

                    if (@user.ProfilePicture is not null)
                    {
                    <img id="prof" class="img-fluid circle" alt="Profile"
                      src="data:image/*;base64,@(Convert.ToBase64String(@user.ProfilePicture))" />
                    }

                    else
                    {
                    <img class="img-fluid circle" alt="Profile"
                      src="~/indexLayout/assets/img/pages/user.jpg" />

                    }
                    }
                  </div>
                </div>
                }
                }

              </div>

              <div class="pt-3">
                <p class="fs-5 fw-bold"> @user.FirstName @user.LastName</p>
                <p class="fs-5 fw-bold"> @user.Email</p>
                <p class="fs-6 pb-2 px-1">صاحب عقار</p>
              </div>



              <ul class="nav text-end py-4 p-0 flex-column ulborder">
                <li class="nav-item  @ManageNavPages.IndexNavClass(ViewContext)">
                  <a class="nav-link  fs-5" href="/Identity/Account/Manage/Index"><i
                      class="px-2 bi bi-person-fill"></i>بيانات شخصية
                  </a>
                </li>
                <li class="nav-item @ManageNavPages.IndexEstateNavClass(ViewContext) ">
                  <a class="nav-link fs-5" id="profile" asp-controller="Estate" asp-action="Index" asp-area=""><i
                      class="px-2 bi bi-bookmark-fill"></i>العقارات </a>
                </li>
                <li class="nav-item @ManageNavPages.IndexContractNavClass(ViewContext)">
                  <a class="nav-link fs-5" id="profile" asp-controller="Contract" asp-action="Index" asp-area=""><i
                      class="px-2 bi bi-flag-fill"></i>العقود</a>
                </li>
                <li class="nav-item @ManageNavPages.IndexCommentNavClass(ViewContext)">
                  <a class="nav-link fs-5" id="profile" asp-controller="Commments" asp-action="Commments" asp-area=""><i
                      class="px-2 bi bi-flag-fill"></i>التعليقات</a>
                </li>
                <li class="nav-item @ManageNavPages.IndexLikedNavClass(ViewContext)">
                  <a class="nav-link fs-5" id="profile" >
                      <i class="px-2 bi bi-flag-fill"></i>تحدث مع زبون</a>
                </li>
                <li class="nav-item @ManageNavPages.IndexLikedNavClass(ViewContext)">
                  <a class="nav-link fs-5" id="profile" asp-controller="likedEstates" asp-action="Index" asp-area=""><i
                      class="px-2 bi bi-flag-fill"></i>المُعجب به</a>
                </li>            
              </ul>
              <div class="py-4">
                <div class="row my-2 profile-stat">
                  <div class="col-4">
                    <div class="uppercase profile-stat-title"> 37 </div>
                    <div class="uppercase profile-stat-text"> العقارات </div>
                  </div>
                  <div class="col-4">
                    <div class="uppercase profile-stat-title"> 51 </div>
                    <div class="uppercase profile-stat-text"> العقود </div>
                  </div>
                  <div class="col-4">
                    <div class="uppercase profile-stat-title"> 61 </div>
                    <div class="uppercase profile-stat-text"> الإعجاب </div>
                  </div>
                </div>

                                <p class="fs-6 pb-2 px-1">@user.decription </p>


                <div class="d-flex justify-content-around my-3">
                  <a href="@user.facebook" class="profile-stat-title">
                    <i class="bi bi-facebook"></i>
                  </a>
                  <a href="@user.twitter" class="profile-stat-title">
                    <i class="bi bi-twitter"></i>
                  </a>
                  <a href="@user.instigram" class="profile-stat-title">
                    <i class="bi bi-instagram"></i>
                  </a>
                  <a href="https://wa.me/@user.ContactNumber" class="profile-stat-title">
                    <i class="bi bi-whatsapp"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-9">
            <div class="profile-content mt-4 m-lg-0 text-end p-0 p-lg-5 pt-sm-5">
              @RenderBody()
            </div>
          </div>
        </div>
      </div>
    </section>


    @section Scripts {
   <script>
   
   
            var btns = document.getElementsByClassName("nav-item");  
for (var i = 0; i < btns.length; i++) {  
  btns[i].addEventListener("click", function() {  
  var current = document.getElementsByClassName("active");  
  if (current.length > 0) {   
    current[0].className = current[0].className+=" active";  
  }  
  this.className += " active";  
  });  
}  
   

      function clickOn() {
        var x = document.getElementsByClassName('custom-file-input')[0];
        x.click();
      }

      var loadFile = function (event) {
        var image = document.getElementById("output");
        var imgs = image.src = URL.createObjectURL(event.target.files[0]);
      }
    </script>
     @RenderSection("Scripts", required: false)
    }
