@model Contact
<style>
  :root,
:root.light {
    --grernwith: #0f4f54 !important;
    --grernw : #fff !important
}
    :root.dark {
        --grernw : #0f4f54 !important;
        --grernwith: #fff !important;
    }



  .ccard{
      color : black !important;
      text-align:center
  }
  .ccard2:hover{
      background : #0f4f54 !important ;
      color :white !important;

  }
    .ico2 {
        transform: rotate(30deg);
        transition : 1s ease-in-out;
    }

 
   .ccard1:hover{
      background : #0f4f54 !important ;
      color :white !important;

  }
  .ico1{
    transform: rotate(30deg);
     transition : 1s ease-in-out;

  }
  
   .ccard3:hover{
      background : #0f4f54 !important ;
      color :white !important;

  }
  .ico3{
      transform : rotate(30deg);
       transition : 1s ease-in-out;
  }

  .a{
      border : none !important ;
      color : var(--txtactive) !important ;
  }
  .a:focus{
             border: 1px solid #e5ad7c!important;
  }
  .btn-outline-green {
    color:  var(--grernwith) !important;
    border-color:  var(--grernwith) !important;
}

 .btn-outline-green:hover {
        color: var(--grernw) !important;
        border-color: var(--grernwith) !important;
        background:  var(--grernwith) !important;
  }
  .textgreen {
    color:  var(--grernwith) !important ;
}


</style>
    <link rel="stylesheet" href="~/Contact/css/fonts/bootstrap-icons.woff" />
    <link rel="stylesheet" href="~/Contact/css/fonts/bootstrap-icons.woff2" />
    <link href="~/Contact/style.css" rel="stylesheet" />
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500&display=swap" rel="stylesheet">
    <div class="container  my-5 shadow rounded-3 p-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-4 d-flex justify-content-center  align-items-center">
                <p class="fs-2 textgreen" >تواصل معنا</p>
            </div>
        </div>
        <div class="row my-5 d-flex justify-content-center align-items-center">
            <div class="col-lg-3 p-3 mt-3 mt-md-0 ccard1   justify-content-center align-items-center rounded-3 shadow contact">
                <h2 class="text-center ic1"><i class="bi bi-telephone"></i></h2>
                <h5 class="text-center  my-4">اتصل بنا</h5>
                <a href="#" class="text-center nav-link">0567463880</a>
            </div>
            <div class="col-lg-3 p-3 mt-3 mt-md-0 mx-4 ccard2 justify-content-center align-items-center rounded-3 shadow contact">
                <div > 
                    <h2 class="text-center ic2"><i class="bi bi-envelope"></i></h2>
                    <h5 class="text-center my-4">تواصل عبر البريد</h5>
                    <a href="https://www.aqaramlack123.com" class="text-center nav-link">aqaramlack123@gmail.com</a>
                </div>
            </div>
            <div class="col-lg-3 p-3 mt-3 mt-md-0 ccard3 justify-content-center align-items-center rounded-3 shadow contact">
                <div >
                    <h2 class="text-center ic3"><i class="bi bi-whatsapp"></i></h2>
                    <h5 class="text-center my-4">أرسل لنا</h5>
                    <a href="https://wa.me/+972598112693?text=Hi%27,%20like%20to%20chat%20with%20you" class="text-center nav-link">واتس اب</a>
                </div>
            </div>
        </div>
        <div class="row  d-flex justify-content-center align-items-center">
            <h2 class="text-center my-5  textgreen" >أرسل لنا</h2>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-7">
                <form asp-action="SendEmail" method="post">
                    <div class="container p-3">
                        <div class="row">
                            <div class=" col-lg-6">
                             
                                <input asp-for="@Model.Name" class="form-control rounded-3 a mb-4 mb-lg-0 shadow" id="exampleInputfirstname1"
                                       aria-describedby="firstnameHelp" placeholder ="الاسم" />
                            </div>
                            <div class="col-lg-6">
                               
                                <input asp-for="@Model.Email" class="form-control rounded-3 a mb-4 mb-lg-0 shadow" id="exampleInputEmail1"
                                       aria-describedby="emailHelp" placeholder ="الايميل">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class=" col-lg-6">
                                
                                <input asp-for="@Model.Phone" class="form-control rounded-3 a mb-4 mb-lg-0 shadow" id="exampleInputphone1"
                                       aria-describedby="phoneHelp" placeholder = "رقم الهاتف">
                            </div>
                            <div class="col-lg-6">
                               
                                <input asp-for="@Model.Object" class="form-control rounded-3 a mb-4 mb-lg-0 shadow" id="exampleInputsubject1"
                                       aria-describedby="subjectHelp" placeholder ="الموضوع">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="mb-3">
                             
                                <textarea asp-for="@Model.Description" class="form-control rounded-3 a mb-4 mb-lg-0 shadow " id="exampleFormControlTextarea1"
                                      placeholder ="الوصف"    rows="7"></textarea>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-lg-12 justify-content-end mt-3">
                                <button type="submit" class="btn btn-outline-green rounded-3 px-5 float-end">
                                    ارسال
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class ="col-lg-5">
                  
           <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_gxyhcg0t.json"
              background="transparent" speed="1" style="width: 500px; height: 500px;" loop  class="img-fluid w-auto"
                 autoplay></lottie-player>
            </div>

        </div>
    </div>
    
    @section Scripts{
      
        <script>
            $('.ccard2').on('mouseover', function(e) {
            $('.ic2').not($(this)).addClass('ico2')     
});

        $('.ccard2').on('mouseout', function(e) {
        $('.ic2').removeClass('ico2')
});
            $('.ccard1').on('mouseover', function(e) {
            $('.ic1').not($(this)).addClass('ico1')     
});

        $('.ccard1').on('mouseout', function(e) {
        $('.ic1').removeClass('ico1')
});
            $('.ccard3').on('mouseover', function(e) {
            $('.ic3').not($(this)).addClass('ico3')     
});

        $('.ccard3').on('mouseout', function(e) {
        $('.ic3').removeClass('ico3')
});


        </script>
        <script src="~/Contact/js/app.js"></script>
        <script src="~/Contact/js/particles.min.js"></script>
        <script src="~/js/Login/lottie-player.js"></script>

    }
   
