@model GP.Models.Comments;
 @{
  
    ViewData["ActivePage"] = ManageNavPages.IndexComment; 
    ViewData["Title"] = "التعليقات";
}

@{
    Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}
<hr />
@*<link rel="stylesheet" href="~/limonte-sweetalert2/sweetalert2.min.css" />*@
<link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div style="margin:10px!important;">
                <form id="formadd" method="post">
                    <div id="main" class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-12">
                            <div class="form-group" hidden>
                                <label for="edit_name_en" class="my-3">الرقم</label>
                                <input id="id" asp-for="@Model.Id" class="form-control" placeholder="Id" name="Id" />
                                <span asp-validation-for="@Model.Id" class="text-danger span"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <div class="col-12">
                                <img class="img-fluid w-100" id="image" src="" alt="Estate" />
                                </div>
                                <div>
                                    <img id="commenter"  />
                                <p id="fname"></p>
                                    
                                </div>
@*                                <input id="fname" asp-for="@Model.Body" class="form-control" required name="name" />
                                <span asp-validation-for="@Model.Body" class="text-danger span"></span>*@
                            </div>
                        </div>
                        <a id="ref" href="#">الردود</a>
                        <div id="reps">
                           
                        </div>


                    </div>

                    <button id="btnClose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    @*<button id="btnAdd" type="submit" class="btn btn-outline-primary">Add</button>*@
                    @*<button id="btnEdit" type="submit" class="btn btn-outline-primary">Edit</button> *@
                </form>
            </div>

        </div>
    </div>
</div>

<table id="Comments" class="table table-striped table-bordered w-100 flex-nowrap" style="direction:rtl;">
    <thead>
        <tr>
            <th>الرقم</th>
            <th> التعليق </th>
            <th> الحالة </th>
            <th></th>

        </tr>
    </thead>
</table>

@section Scripts{
    @(await Html.PartialAsync("_ValidationScriptsPartial"));
@*<script src="~/assets/bootstrap/bootstrap5.bundle.min.js"></script>
*@@*<script src="~/assets/bootstrap/jquery-3.1.0.min.js" type="text/javascript"></script>
<script src="~/assets/bootstrap/ajax_query.min.js"></script>*@
<script src="~/SweetAlert/sweetalert2@11.js"> </script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    var ref=document.getElementById("ref");
    var reps=document.getElementById("reps");
    var main=document.getElementById("main");
    $(document).ready(function () {

        $("#Comments").DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "responsive": true,
            "lengthMenu": [10, 20, 30, 40, 50],
            "language": {
                "search": "ابحث",
                "lengthMenu": "عرض _MENU_ صفوف"
            },
            "ajax": {
                "url": '/api/Api/GetComments',
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs": [{
                "targets": 0,
                "visible": false,
                "searchable": false
            }],
            "columns": [
                { "data": "id", "name": "Id", "autowidth": true },

                {
                    "data":"body","name":"Body",
                    "render":function (data,type,row){
                    return `<a id="d" href="#" style="color:black; text-decoration: none;display:block;text-overflow: ellipsis;width: 200px;overflow: hidden; white-space: nowrap;" onclick=Details(${row.id})>${data}</a>`
                    },
                 },
                 {"data":"isActive","name":"IsActive","autowidth": true},
                {
                   "render": function (data, type, row) { return '<a href="#" class="btn btn-secendry" onclick=DeleteCustomer(' + row.id + '); > تعديل الحالة </a>' },
                   "orderable": false
                },
            ],
        });
    });

    function Details(Id)
    {
          var table = $("#Comments").DataTable();
          var data = table.data().filter(function(elm) {return elm.id == Id});
           console.log(data[0].id);
           var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'),{
           keyboard: false});
           myModal.show();
           $.ajax({
           type:"POST",
           url: `/Commments/Details/${Id}`,
           dataType: "json",
               success: function (datab)
               {
                   var text="";
                   var gg="";
                   var com="";
                   var es="";
                   if(datab.com.appUser.profilePicture==null){
                       es="/indexLayout/assets/img/pages/user.jpg";
                   }
                   else{
                       es="data:image/jpeg;base64," + btoa(atob(`${datab.com.appUser.profilePicture}`));
                   }
                   com+=`<div class="row">
                   <img class="w-100"src="/images/Estate/${datab.estate.main_photo}"/>
                       </div>
        <div class="row">
            <div class="col-1">
                <img src="${es}"  class=" rounded-circle mt-6 me-2" width="70" height="70" />
            </div>
            <div class="col-4" >
                <div class=" bg-secondary round p-4 mb-5">
                    <h2>${data[0].body}</h2>
            </div>
               
            <div class="row">
                <div class="d-flex flex-row justify-content-around">
                    <div class="d-inline">
                        <a href="#" id="lnk" style="font-size: 22;">الردود </a>
                    </div>
                </div>
            </div>
            <div id="rowling"class="row">
            </div>
            </div>
        </div>
</div>`;
$("#main").html(com);
               
                    var replys=datab.reply.length;
                    console.log(replys);
                    $('#lnk').on("click",function(){
                        if(replys>0){
                      for(var i=0;i<replys;i++){
                          if(datab.reply[i].appUser.profilePicture==null){
                              gg= "/indexLayout/assets/img/pages/user.jpg";
                          }
                          else{
                          gg="data:image/jpeg;base64," + btoa(atob(`${datab.reply[i].appUser.profilePicture}`));
                          }
                          text+=` <div>
                                <img class="rounded-circle mt-6 me-2" width="70" height="70" src="${gg}"/>
                                <p>${datab.reply[i].body}</p>
                            </div>`;
                          $("#rowling").html(text);
                      }
                    }
                    else{
                    console.log("no");
                    }
                    });
               }
        ,
        error:function(){
            alert("Wrong");
        }});
         
    }
     $('#btnClose').on("click",function(){
         console.log("Clear");

           var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'),{
           keyboard: false});
           myModal.hide();
           $("#rowling").html="";
      })
    function EditItem(data) {
        $(".span").text("");
        $("#btnAdd").hide();
        $("#btnEdit").show();
        $("#id").val(data.id);
        $("#fname").val(data.name);
    }
    function DeleteCustomer(Id)
          {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33 ',
                confirmButtonText: 'نعم ، تفعيل!',
                cancelButtonText: "الغاء",    

            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        method: 'Get',
                        url: `/Commments/DeleteComment/${Id}`,
                        data: JSON.stringify({ id: Id }),
                        success: function () {
                           
                             Swal.fire({
                                 title:   'تم التغيير!',
                                  position: 'top-end',
                                 icon: 'success',
                                 showConfirmButton: false,
                                 timer: 1500,
                                })
                            var Table = $("#Comments").DataTable();
                            Table.draw(false);
                        }
                    });

                }
            })
        }
    $("#Add").on("click", function () {
        $("#btnAdd").show();
        $("#btnEdit").hide();
        $("input").val("");
        $(".span").text("");
    });
    $("#btnAdd").on("click", function () {


        if ($("#fname").val() != "") {
            var nameEdit = $("#fname").val();
            for (var i = 0; i < nameEdit.length; i++) {
                nameEdit = nameEdit.replace(" ", "_");
            }
            $("#fname").val(nameEdit);
            var data = new FormData($("#formadd").get(0));

            $.ajax({
                method: 'Post',
                url: '/Commments/Create',
                data: data,
                processData: false,
                contentType: false,
                success: function () {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Item has been added successfully',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    $("#btnClose").click();
                    var Table = $("#Cities").DataTable();
                    Table.draw();
                }
            });
        }
    });
    $("#formadd").on("submit", function (e) {
        e.preventDefault();
    })
    $("#btnEdit").on("click", function () {
        if ($("#fname").val() != "") {
            var nameEdit = $("#fname").val();
            for (var i = 0; i < nameEdit.length; i++) {
                nameEdit = nameEdit.replace(" ", "_");
            }
            $("#fname").val(nameEdit);
            var data = new FormData($("#formadd").get(0));

            $.ajax({
                method: 'Post',
                url: '/Admin/City/Edit',
                data: data,
                processData: false,
                contentType: false,
                success: function () {
                    $("#btnClose").click();
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'تم التعديل بنجاح',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    var Table = $("#Cities").DataTable();
                    Table.draw();
                }
            });
        }
    })

</script>
}

