@model Estate;
@{
Layout = "/Views/Shared/_Layout.cshtml";
    @inject ICommments _context
@inject IReplaies rep
@inject IPhotoEstate _photoEstate
@inject IService_Estate _service_Estate

// select Comments From DataBase where Model.EstateId equals Id
IList<Comments>  Models=  _context.GetAll().Where(x=>x.EstateId==Model.Id&&x.IsActive).ToList();
// select Services From DataBase where Model.EstateId equals Id
IList<Services> listServices=  _service_Estate.GetALl(Model.Id).ToList();
// select PhotoEstate From DataBase where Model.EstateId equals Id
IList<PhotoEstate> photosPaths =  _photoEstate.GetAllByEstate(Model.Id);

    ViewData["Title"] = "تفاصيل العقار";

}



@section Styles{
        <style>
      

        html, body {
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
        }
            .loginPlac {
                display: flex !important;
                justify-content: center !important;
            }

            #errorEmpty {
                color: red;
            }

            .errorrep {
                color: red;

            }

         
            .showx:hover {
                text-decoration: underline;
                cursor: pointer;
            }



            .bottomimgright {
             position: absolute;
            bottom: 20px;
            right: 16px;
            background-color: #bacdce;
            border-radius: 20px;
            color: #000;
            font-weight: 800;
            box-shadow: -2px 2px 3px #111;
            }






        </style>

          <style>
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .mySwiper2 {
      height: 80%;
      width: 100%;
    }

    .mySwiper {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
    }

    .mySwiper .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
    }

    .mySwiper .swiper-slide-thumb-active {
      opacity: 1;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    .swiper-free-mode>.swiper-wrapper img {
      transition-timing-function: ease-out;
      margin: 0 auto;
      height: 100px;
      object-fit: cover;
      background-size: cover;
      background-position: center;
    }
  </style>
}



    <section class="pb-5">



        <div class="container-fluid container-md">
            <div class="row ">
                <div  class="col-12 p-0">
                    <a id="EPic"  class="image-thumbnail home" href="#lightbox_1">
                        <img src="~/images/Estate/@Model.Main_photo" class="img-fluid" style=" height: 600px; width: 100%;">
                        <div class="bottomimgright p-3">اضغط لمشاهدة جميع الصور</div>
                    </a>
                </div>
             @*   <div class="col-12 col-md-3 d-flex d-none d-md-block gallery">
                @{
                    var sewar = 0;
                    if (@photosPaths.Count>=2)
                    {
                         for (int e=0;e <2;e++)
                        {
                             <a id="EPic" class="image-thumbnail" href="#@sewar">
                                <img src="~/images/Estate/@photosPaths[e].ImagePath" class=" img-fluid w-100 h-100">
                             </a>
                        sewar++;
                          }
                    }
                }
                </div>*@
        </div>

        
       <div class="light-box modal-content" id="lightbox_1">
            <div class="row edges align-items-baseline">
                <span class="close-btn d-inline"><a href="#">
                    <i class="bi bi-x-lg fs-1 position-absolute" style="z-index:10;z-index: 10; background-color: #fff; border: 1px solid #fff; border-radius: 50%; padding: 1px 10px 0px 10px; color: var(--grendark);"></i></a>
                </span>
 
           <div class="">
                    @*<img  src="~/images/Estate/@Model.Main_photo" class="img-fluid position-relative" width="1000"/>*@


                     <div class="container">
    <div class="row">

      <div class="swiper mySwiper2">
        <div class="swiper-wrapper">

         @{
            
            if(@photosPaths.Count>2){

                for (int k= 0;k < @photosPaths.Count;k++)
                {
                                 <div class="swiper-slide">
                                    <img src="~/images/Estate/@photosPaths[k].ImagePath" />
                                 </div>
                }
            }
           
        }
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
      <div thumbsSlider="" class="swiper mySwiper">
        <div class="swiper-wrapper">
           @{
            
            if(@photosPaths.Count>2){

                for (int k= 0;k < @photosPaths.Count;k++)
                {
                                 <div class="swiper-slide">
                                    <img src="~/images/Estate/@photosPaths[k].ImagePath" />
                                 </div>
                }
            }
           
        }
        </div>
      </div>

    </div>
  </div>

                </div>



            </div>
        </div>




@*    @{
            var sear = 0;
            foreach (var pic in @photosPaths)
            {
                <div class="light-box modal-content" id="@sear">
                    <div class="row edges align-items-baseline">
                        <span class="close-btn d-inline"><a href="#"><i class="bi bi-x-lg fs-1 position-absolute"></i></a></span>
                        <div class="col p-0">
                            <span class="previous-btn "><a href="#@sear"><i class="bi bi-arrow-right fs-1"></i></a></span>
                        </div>
                        <div class="col-10 p-0">
                            <img src="~/images/Estate/@pic.ImagePath" class="img-fluid position-relative" />
                        </div>
                        <div class="col p-0">
                            <span class=" next-btn"><a href="#@sear"><i class="bi bi-arrow-left fs-1"></i></a></span>
                        </div>
                    </div>
                </div>
                sear++;
              }
        }*@






@*                   <section>
               
                       @{
            if(@photosPaths.Count>2){
                for (int k= 0;k < @photosPaths.Count;k++)
                {
                    <img src="~/images/Estate/@photosPaths[k].ImagePath" />
                }
            }
        }
           </section>*@



     


        <div class="row py-4 text-end ">
            <div class="col-12 col-md-9 ">
                <div class="pe-xl-5">

                        <p class="fs-2 ">عنوان العقار</p>
                        <p><i class="bi bi-geo-alt-fill"></i>@Model.State.name _ @Model.City.name</p>
                        <div class="d-flex justify-content-between align-items-center fs-5">
                            <p><i class="bi bi-building"></i> نوع العقار: @Model.Category.category </p>
                            <p><i class="bi bi-aspect-ratio"></i> مساحة العقار : @Model.space م </p>
                            <p><i class="bi bi-cash"></i> سعر العقار :@Model.price $</p>
                        </div>
                        <div class="d-flex align-items-center flex-wrap">
                            <p class="fs-5">خدمات العقار :</p>
                            <ul class=" d-flex px-0 nav">
                            @{
                               
                                foreach (var ser in listServices)
                                {
                                                    <li class="px-3 imgsernamehover text-center"> 
                                                        @ser.Name 
                                                        <img class="imgsername" src="@ser.ImagePath" />    
                                                    </li>
                                }
                            }
                                
                               
                            </ul>
                        </div>

                        <div class="pt-5">
                            <p class="fs-5 fw-bold">تفاصيل العقار</p>
                            <p> @Model.description</p>
                        </div>


                        
                    <div class="pt-4">
                        <p class="fs-5 fw-bold">موقع العقار</p>
                        <div class="col-12">
                            <div class="d-flex justify-content-around">
                                <p class="px-3"><span>@Html.DisplayNameFor(Models => Models.Longitude): </span><strong
                                        id="Long">@Html.DisplayFor(Models => Models.Longitude)</strong></p>
                                <p class="px-3"><span>@Html.DisplayNameFor(Models => Models.Latitude): </span><strong
                                        id="Lat">@Html.DisplayFor(Models => Models.Latitude)</strong></p>
                            </div>
                            <div id="map" style="width: 100%; height: 450px; margin:12px 0;"></div>
                        </div>
                    </div>

        


                        <div class="pt-5">
                            <p class="fs-5 fw-bold">اكتب تعليقك</p>
                               <div class="">
            <span id="loginPlease" style="display:none;"> عليك تسجيل الدخول اولا <a href="/Identity/Account/Login">
                    تسجيل الدخول</a></span>
            <form method="">
                <div class="d-flex align-items-center">
                    <textarea id="bodytextarea" style="width:100%;background: var(--bgwhite);color: var(--txtactive);border-radius:20px; padding:8px" rows="3" placeholder="اكتب هنا التعليق...."></textarea>
    
                        <a class="showx " onclick="createComments(@Model.Id)">
                            <i class="bi bi-send-fill iconsend px-2  fs-1 w-100 h-100"></i>
                        </a>
               
                </div>
                <span id="errorEmpty"></span>
            </form>

            <p class="text-success d-none added">تم إضافة التعليق بنجاح</p>

            <h1 class="pt-3 m-0">التعليقات </h1>

            <ul id="comments-list" class="comments-list ">
                @{
                                            @if(Models.Count()==0)
                {
                                            <li class="text-center text-warning insertdata"> لا يوجد تعليقات </li>
                }
                for (int i = 0; i < Models.Count(); i++) { <li class="@((i!=0 && i!=1) ?" closed":"") @i">
                                                <div class="comment-main-level">

                                                    <div class="comment-avatar">
                              @{

                            if(Models[i].AppUser.ProfilePicture != null)
                            {
                                                                <img src="data:image/*;base64,@(Convert.ToBase64String(Models[i].AppUser.ProfilePicture))"  alt="">
                            }
                            else
                            { 
                                                                <img src="/indexLayout/assets/img/pages/user.jpg" />
                            }
                              }


                                                    </div>

                                                    <div class="comment-box">
                                                        <div class="comment-head">
                                                            <h6 class="comment-name"><a href="/UsersProfiles/GetProfile/@Models[i].AppUser.Id">@Models[i].AppUser.FirstName
                                                                    @Models[i].AppUser.LastName </a></h6>

                                                            <i class="bi bi-reply-all-fill"  onclick="ShowFormReplay(@i)"></i>

                                                        </div>
                                                        <div class="comment-content">
                                                            <p>@Models[i].Body</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Respuestas de los comentarios -->
                                                @{
                    List<Replaies> lst=await rep.GetCommentReplies(Models[i].Id);

                        if(lst != null)
                        {
                        long q= -1;
                                                                                <ul class="comments-list reply-list ul-@Models[i].Id">

                                                                                    @{
                            for (int x = 0; x < lst.Count(); x++) { q=lst[x].Id; <li
                                                                                                                    class=" closedReplaies-@Models[i].Id closedReplaies ">
                                                                                                                    <div class="comment-main-level">

                                                                                                                        <div class="comment-avatar">
                                                                                                                            @{
                                        if(lst[x].AppUser.ProfilePicture != null)
                                        {
                                                                                                                                                        <img src="data:image/*;base64,@(Convert.ToBase64String(lst[x].AppUser.ProfilePicture))"
                                                                                                                                                            alt="">
                                        }

                                        else
                                        {
                                                                                                                                                        <img src="/indexLayout/assets/img/pages/user.jpg" />
                                        }
                                                                                                                            }



                                                                                                                        </div>

                                                                                                                        <div class="comment-box">
                                                                                                                            <div class="comment-head">
                                                                                                                                <h6 class="comment-name"><a href="/UsersProfiles/GetProfile/@lst[x].AppUser.Id">@lst[x].AppUser.FirstName
                                                                                                                                        @lst[x].AppUser.LastName </a></h6>

                                                                                                                            </div>
                                                                                                                            <div class="comment-content">
                                                                                                                                <p style="width:0px">@lst[x].body</p>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </div>

                                                                                                                    </li>


                                }
                                                                                        }


                                                                                </ul>

                                                                                <div class="d-flex justify-content-end" style="display: @((q==-1 ) ?" none":"") "  ><a class="
                                                                                    x-@Models[i].Id" onclick="showReplaies(@Models[i].Id)">عرض الردود</a></div>

                        }

                                                    }
                                                    </li>

                                                    <form method="" id="form-@i" class="closedForm closeafterwirte">
                                                        <span class="loginPlac" id="loginPlease-@Models[i].Id" style="display:none !important;"> عليك
                                                            تسجيل
                                                            الدخول اولا <a href="/Identity/Account/Login"> تسجيل الدخول</a></span>
                                                        <div class=" d-flex justify-content-center align-items-center">
                                                            <textarea id="bodytextarea-@Models[i].Id" style="background: var(--bgwhite);color: var(--txtactive);border-radius:20px; padding:8px" class="" rows="3"
                                                                placeholder="اكتب هنا الرد...."></textarea>

                                                            <div class="">

                                                                <a class="showx" onclick="createRepaliy(@Models[i].Id)">
                                                                     <i class="bi bi-send-fill iconsend px-2  fs-3 w-100 h-100"></i>
                                                                </a>

                                                                <span class="errorrep" id="errorEmpty-@Models[i].Id"></span>

                                                            </div>


                                                        </div>

                                                    </form>



                        }
                        }


            </ul>
            @{
            if(Models.Count() > 2)
            {
                                        <div class="show showx"><a>عرض المزيد</a></div>
            }
            }

        </div>


  



                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">


                <a href="/UsersProfiles/GetProfile/@Model.UserId" class="fs-6 d-block fw-bold text-decoration-none my-4 sl" > 
                     <div class="d-flex align-items-center" href="/Commments/GetProfile/@Model.UserId">
                    @{
                        if(@Model.Users.ProfilePicture==null)
                        {
                                                        <img src="~/indexLayout/assets/img/pages/user.jpg" class="userimgs" />
                        }
                        else
                        {
                                                    <img class="userimgs" src="data:image/*;base64,@(Convert.ToBase64String(Model.Users.ProfilePicture)) " />
                         }
                    }
                        
                        <p class="m-0 px-1">مالك العقار :</p>
                        <p class="m-0 ">@Model.Users.FirstName @Model.Users.LastName</p>

                    </div>

                </a>



                    <span class="fs-6 d-block text-secondary"><i class="bi bi-eye-fill px-1"></i> المشاهدات @Model.Views+ </span>
                    <span class="fs-6 d-block text-secondary"><i class="bi bi-clock-fill px-1"></i> @Model.OnDate </span>

                    <div class="bg-secondary p-5 my-3">
                        <p class="p-5">
                            اعلان
                        </p>
                    </div>

                </div>
            </div>

        </div>

    </section>
@section Scripts{



        <script type="text/javascript">
                var swiper = new Swiper(".mySwiper5", {
                slidesPerView: 3,
                spaceBetween: 30,
                freeMode: true,
                pagination: {
                  el: ".swiper-pagination",
                  clickable: true,
                },
              });





               var swiper = new Swiper(".mySwiper", {
                loop: true,
                spaceBetween: 10,
                slidesPerView: 4,
                freeMode: true,
                watchSlidesProgress: true,
              });
              var swiper2 = new Swiper(".mySwiper2", {
                loop: true,
                spaceBetween: 10,
                navigation: {
                  nextEl: ".swiper-button-next",
                  prevEl: ".swiper-button-prev",
                },
                thumbs: {
                  swiper: swiper,
                },
              });


            const showContainers = document.querySelectorAll(".closed");


            let sh = document.getElementsByClassName('show')[0];

            sh.addEventListener('click', function () {
                if (sh.innerHTML == "عرض أقل") {
                    sh.innerHTML = "عرض المزيد"
                }

                else {
                    sh.innerHTML = "عرض أقل"
                }
                showContainers.forEach((child) => child.classList.toggle("closed"));

            })
            function showReplaies(id) {


                const showContainers1 = document.querySelectorAll(`.closedReplaies-${id}`);

                console.log(showContainers1)


                let shs = document.getElementsByClassName(`x-${id}`)[0];
                if (shs.innerHTML == "عرض الردود") {
                    shs.innerHTML = "إخفاء الردود"
                }

                else {
                    shs.innerHTML = "عرض الردود"
                }
                showContainers1.forEach((child) => child.classList.toggle("closedReplaies"));

            }




            function hicreateElement(name, photo, txt,Id,iduser) {
                console.log('hicreateElement');

                var li = document.createElement('li');

                var div1 = document.createElement('div');
                div1.classList.add('comment-main-level');

                var divAvatar = document.createElement('div');
                divAvatar.classList.add('comment-avatar');

                var image = document.createElement('img');

                image.src = photo;

                var div2 = document.createElement('div');
                div2.classList.add("comment-box");
                divAvatar.appendChild(image);

                div1.appendChild(divAvatar);
                var div3 = document.createElement('div');
                div3.classList.add('comment-head');

                var h6 = document.createElement('h6');

                h6.classList.add('comment-name');


                var Ah6 = document.createElement('a');

                Ah6.href = `/UsersProfiles/GetProfile/${iduser}`;
                Ah6.innerHTML = name;
                var replay1 = document.createElement('i');
                replay1.classList.add('bi');
                replay1.classList.add('bi-reply-all-fill');

                replay1.setAttribute('onclick',`ShowFormReplay(${Id})`)


                h6.appendChild(Ah6);
                div3.appendChild(h6);
                div3.appendChild(replay1);

                var div4 = document.createElement('div');
                div4.classList.add('comment-content');
                var p = document.createElement('p');
                p.innerHTML = txt;
                li.appendChild(div1);
                div1.appendChild(div2);
                div4.appendChild(p);

                div2.appendChild(div3);
                div2.appendChild(div4);
                var ul = document.getElementById('comments-list');
                ul.appendChild(li);
            }



            function createComments(idestate) {
                var txt = document.getElementById('bodytextarea').value;
                var errorEmpty = document.getElementById('errorEmpty');
                var loginPlease = document.getElementById('loginPlease');
                var added = document.getElementsByClassName('added')[0];
                var insertdata = document.getElementsByClassName('insertdata')[0];

                if (txt == "") {
                    errorEmpty.innerHTML = "أدخل التعليق "

                    return;
                }

                else if (txt.length > 50) {
                    errorEmpty.innerHTML = "الحد الاقصى 50 حرف "

                    return;
                }
                $.ajax({
                    method: 'Get',
                    url: `/Estate/AddComment`,
                    data: { id: idestate, body: txt },
                    success: function (data) {
                        if (data.status == "Insert") {
                            hicreateElement(data.name, data.photo, txt,data.id,data.iduser);
                            document.getElementById('bodytextarea').value = "";

                            errorEmpty.innerHTML = "";
                            loginPlease.innerHTML = ""

                            added.innerHTML = "تم إضافة التعليق بنجاح";
                            added.classList.remove('d-none');

                            setTimeout(() => {
                                added.classList.add('d-none');
                            }, "3000")

                            insertdata.classList.add('d-none');

                        }

                        else if (data.status == "Disconnected") {

                            loginPlease.style.display = "block"


                        }
                    }
                });




                console.log(txt, idestate);





            }
        </script>
        <script>
            function ShowFormReplay(i) {
                console.log('createRepalys');




                var formRep = document.getElementById(`form-${i}`);


                console.log(formRep);
                formRep.classList.toggle("closedForm");
            }
        </script>
        <script>
            function createRepaliy(id) {
              
                console.log('hiEveryOne')

                var txt = document.getElementById(`bodytextarea-${id}`).value;

                var added = document.getElementsByClassName('added')[0];



                var errorEmpty = document.getElementById(`errorEmpty-${id}`);
                var loginPlease = document.getElementById(`loginPlease-${id}`);


                var closedForm = document.getElementsByClassName('closeafterwirte')[0]


                if (txt == "") {
                    errorEmpty.innerHTML = "أدخل الرد ";

                    return;
                }

                else if (txt.length > 50) {
                    errorEmpty.innerHTML = "الحد الاقصى 50 حرف "

                    return;
                }

                $.ajax({
                    method: 'Get',
                    url: `/Estate/AddReplay`,
                    data: { id: id, body: txt },

                    success: function (data) {
                        if (data.status == "Insert") {

                            hicreateElementRep(data.name, data.photo, id, txt,data.iduser);
                            added.innerHTML = "تم إضافة الرد بنجاح";
                            added.classList.remove('d-none')

                            document.getElementById(`bodytextarea-${id}`).value = "";

                            errorEmpty.innerHTML = "";


                            setTimeout(() => {
                                added.classList.add('d-none');
                            }, "3000")

                            closedForm.classList.add('closedForm')

                            loginPlease.innerHTML = "";

                        }

                        else if (data.status == "Disconnected") {

                            loginPlease.style.display = "block"

                        }
                    }
                });


            }

        </script>

        <script>





            function hicreateElementRep(name, photo, id, txt,iduser) {

                console.log(name, photo, id, txt)
                var li = document.createElement('li');
                li.classList.add(`closedReplaies-${id}`);


                var divs = document.createElement('div');
                divs.classList.add('comment-main-level');

                var divs1 = document.createElement('div');
                divs1.classList.add('comment-avatar');

                var imagex = document.createElement('img');

                imagex.src = photo;
                divs1.appendChild(imagex);

                var divs2 = document.createElement('div');
                divs2.classList.add('comment-box');


                var divs3 = document.createElement('div');
                divs3.classList.add('comment-head');

                divs2.appendChild(divs3);

                var h6 = document.createElement('h6');
                h6.classList.add('comment-name');

              var a = document.createElement('a');

                a.href = `/UsersProfiles/GetProfile/${iduser}`;
                a.textContent = name;
                h6.appendChild(a);

                divs3.appendChild(h6);
                var divs4 = document.createElement('div');
                divs4.classList.add('comment-content');

                divs4.innerHTML = txt;

                divs2.appendChild(divs4);

                divs.appendChild(divs1);
                divs.appendChild(divs2);

                li.appendChild(divs);


                var ul = document.getElementsByClassName(`ul-${id}`)[0];



                ul.appendChild(li);






            }

        </script>


        


        
<script>




    //التفاصيل
    new WOW().init();
    AOS.init({
    })
 
    function openModal() {
        document.getElementById("myModal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("myModal").style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }

    

</script>
<script>

    //the map
       var x = document.getElementById('Long');
       var xx= x.innerHTML;

        var y = document.getElementById('Lat');
        var yy= y.innerHTML;
    function initMap() {
        var mapOptions = {
            center: new google.maps.LatLng(xx, yy),
            mapTypeId: google.maps.MapTypeId.satellite,   /* ()أنواع 4)نوع الخريطة*/
            zoom: 16 // The largest 16 (zooming)
        };
        var elm = document.getElementById('map');
        var mymap = new google.maps.Map(elm, mapOptions);  // create an object (new)
        var pinlocation = new google.maps.LatLng(xx, yy);
        var startposition = new google.maps.Marker(
            {
                position: pinlocation,
                map: mymap,
                icon: "/images/Untitled-1.png"

            });

    }
    window.onload = function () {
        console.log(xx,yy);

        var code = document.createElement('script');
        code.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyAXuizXxXdy3kjKyHQrjt7femrQR2QtZaE&callback=initMap";
        document.body.appendChild(code);
    }

       
      
</script>
<script>


    var swiper = new Swiper(".mySwiper", {
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
      });
      var swiper2 = new Swiper(".mySwiper2", {
        spaceBetween: 10,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        thumbs: {
          swiper: swiper,
        },
      });
      </script>



      <script>

$(document).ready(function() {
    localStorage.setItem("ChatUserId",@Model.UserId);
});
</script>
        }



