@model Estate;
@{
Layout = "/Views/Shared/_Layout.cshtml";
    @inject ICommments _context
@inject IReplaies rep
@inject IPhotoEstate _photoEstate
@inject IService_Estate _service_Estate

  
// select Comments From DataBase where Model.EstateId equals Id
IList<Comments>  Models=  _context.GetAll().Where(x=>x.EstateId==Model.Id).ToList();

// select Services From DataBase where Model.EstateId equals Id

IList<Services> listServices=  _service_Estate.GetALl(Model.Id).ToList();

// select PhotoEstate From DataBase where Model.EstateId equals Id

IList<PhotoEstate> photosPaths =  _photoEstate.GetAllByEstate(Model.Id);

}



@section Styles{

        <!-- Fuentes de Google -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
        <!-- Iconos -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="./style.css">

        <style>
            /**
    التعليقات
    ----------------------------------*/

            .closed {
                display: none !important;

            }

            .closedReplaies {
                display: none !important;
            }

            .closedForm {
                display: none !important;
            }

            * {
                margin: 0;
                padding: 0;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                text-align: right;
            }

            a {
                color: #03658c;
                text-decoration: none;
            }

            ul {
                list-style-type: none;
            }

            body {
                font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
                background: #dee1e3;
            }

            /** ====================
    * Lista de Comentarios
    =======================*/
            .comments-container {
                margin: 60px auto 15px;
                width: 768px;
            }

            .comments-container h1 {
                font-size: 36px;
                color: #283035;
                font-weight: 400;
            }

            .comments-container h1 a {
                font-size: 18px;
                font-weight: 700;
            }

            .comments-list {
                margin-top: 30px;
                position: relative;
            }

            /**
    * Lineas / Detalles
    -----------------------*/
            .comments-list:before {
                content: '';
                width: 2px;
                height: 100%;
                background: #c7cacb;
                position: absolute;
                right: 32px;
                top: 0;
            }

            .comments-list:after {
                content: '';
                position: absolute;
                background: #c7cacb;
                bottom: 0;
                left: 27px;
                width: 7px;
                height: 7px;
                border: 3px solid #dee1e3;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }

            .reply-list:before,
            .reply-list:after {
                display: none;
            }

            .reply-list li:before {
                content: '';
                width: 60px;
                height: 2px;
                background: #c7cacb;
                position: absolute;
                top: 25px;
                right: -77px;
            }


            .comments-list li {
                margin-bottom: 15px;
                display: block;
                position: relative;
            }

            .comments-list li:after {
                content: '';
                display: block;
                clear: both;
                height: 0;
                width: 0;
            }

            .reply-list {

                clear: both;
                margin-top: 15px;
                margin-right: 112px;
            }

            /**
    * Avatar
    ---------------------------*/
            .comments-list .comment-avatar {
                margin-left: 27px;
                width: 65px;
                height: 65px;
                position: relative;
                z-index: 99;
                float: left;
                border: 3px solid #FFF;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
                overflow: hidden;
            }

            .comments-list .comment-avatar img {
                width: 100%;
                height: 100%;
            }

            .reply-list .comment-avatar {
                width: 50px;
                height: 50px;
            }

            .comment-main-level {
                display: flex;
            }

            .comment-main-level:after {
                content: '';
                width: 0;
                height: 0;
                display: block;
                clear: both;
            }

            /**
    * Caja del Comentario
    ---------------------------*/
            .comments-list .comment-box {
                width: 680px;
                float: right;
                position: relative;
                -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
                -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
            }

            .comments-list .comment-box:before,
            .comments-list .comment-box:after {
                content: '';
                height: 0;
                width: 0;
                position: absolute;
                display: block;
                border-width: 14PX;
                border-style: solid;
                border-color: #f6f6f6 #f6f6f6 #f6f6f6 #e5e2e2e3;
                top: 0;
                right: -27PX;
            }


            .comments-list .comment-box:before {
                border-width: 11px 13px 11px 0;
                border-color: transparent rgba(0, 0, 0, 0.05);
                left: -12px;
            }

            .reply-list .comment-box {
                width: 610px;
            }

            .comment-box .comment-head {
                background: #FCFCFC;
                padding: 10px 12px;
                border-bottom: 1px solid #E5E5E5;
                overflow: hidden;
                -webkit-border-radius: 4px 4px 0 0;
                -moz-border-radius: 4px 4px 0 0;
                border-radius: 4px 4px 0 0;
                display: flex;
                align-items: baseline;
                justify-content: space-between;
            }

            .comment-box .comment-head i {
                float: right;
                margin-left: 14px;
                position: relative;
                top: 2px;
                color: #A6A6A6;
                cursor: pointer;
                -webkit-transition: color 0.3s ease;
                -o-transition: color 0.3s ease;
                transition: color 0.3s ease;
            }

            .comment-box .comment-head i:hover {
                color: #03658c;
            }

            .comment-box .comment-name {
                color: #283035;
                font-size: 14px;
                font-weight: 700;
                float: left;
                margin-right: 10px;
            }

            .comment-box .comment-name a {
                color: #283035;
            }

            .comment-box .comment-head span {
                float: left;
                color: #999;
                font-size: 13px;
                position: relative;
                top: 1px;
            }

            .comment-box .comment-content {
                background: #FFF;
                padding: 12px;
                font-size: 15px;
                color: #595959;
                -webkit-border-radius: 0 0 4px 4px;
                -moz-border-radius: 0 0 4px 4px;
                border-radius: 0 0 4px 4px;
            }

            .comment-box .comment-name.by-author,
            .comment-box .comment-name.by-author a {
                color: #03658c;
            }

            .comment-box .comment-name.by-author:after {
                content: 'autor';
                background: #03658c;
                color: #FFF;
                font-size: 12px;
                padding: 3px 5px;
                font-weight: 700;
                margin-left: 10px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }

            .showRepShow {
                display: flex;
                justify-content: end;

                margin-top: -6px;
                margin-left: 23px;
            }

            .show {
                display: flex;
                justify-content: end;
            }

            .witeComment {
                display: flex;
                justify-content: space-between;
                margin-bottom: 16px;
            }

            .writeRep {
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 16px;
                margin-top: 16px;


            }

            .formrepla {
                display: flex;
                flex-direction: column;
            }

            .textrep {
                width: 50%;
                margin: auto;
            }


            .loginPlac {
                display: flex !important;
                justify-content: center !important;
            }

            #errorEmpty {
                color: red;
            }

            .errorrep {
                color: red;

            }

            .showx {
                color: blue;
            }

            .showx:hover {
                text-decoration: underline;
                cursor: pointer;
            }

            /** =====================
    * Responsive
    ========================*/
          /*  @@media only screen and (max-width: 766px) {
                .comments-container {
                    width: 480px;
                }

                .comments-list .comment-box {
                    width: 390px;
                }

                .reply-list .comment-box {
                    width: 320px;
                }
            }*/



               /** =====================
    * التفاصيل
    ========================*/

        </style>

        }






<style>
/*****************تفاصيل*************************/

.image-thumbnail {
  display: inline-block;
  cursor: pointer;
  box-shadow: 3px 2px 5px #444;
  transition: 300ms ease;
  width: 100%;
  height: 50%;
  overflow:hidden;
}
.home {
  height: 100%;
}
.gallery:hover .image-thumbnail:not(:hover) {
  filter: blur(2px) grayscale(1);
  opacity: 0.7;
  transform: scale(0.9);
}
/*   Light Box Styling  */
 .light-box {
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  height: 100%;
  background-color: rgb(35 35 35 / 61%);
  backdrop-filter: blur(0.3rem);
  transition: 500ms ease;
  position: absolute;
  z-index: 1000;
  text-align: right;
}
.light-box:target {
  visibility: visible;
  opacity: 1;
}

.edges {
  height: auto;
  background-color: #ccc;
  padding: 20px;
  margin: 150px auto;
  box-shadow: 0 0 30px #333;

}

.incaht{
  right:20px;
  bottom: 20px; 
  background: var(--litegreen); 
}
.userimgs{
    width:50px;

}
.sl{
    color:var(--txtactive);
    background-color: #5f8e9266; 
    padding: 20px 5px 20px 0;
    border-radius:20px;
}
.sl:hover{
   background-color: #5f8e9266;
    padding: 20px 5px 20px 0;
    box-shadow: inset 2px -2px 2px 2px #78512e36;
    text-decoration:none;
    color:var(--orange);
}
.imgsername{
    width:50px;

}
.imgsernamehover:hover{
    background-color:#5f8e9266;
    border-radius:20px;
    
}
.iconsend:hover{
    color: var(--hover); 
}
</style>

    <section class="pb-5">


        <div class="container-fluid container-md">
            <div class="row ">
                <div  class="col-12 col-md-9 p-0">
                    <a id="EPic"  class="image-thumbnail home" href="#lightbox_1"><img src="~/images/Estate/@Model.Main_photo" class="img-fluid w-100 h-100"></a>
                </div>
                <div class="col-12 col-md-3 d-flex d-md-block gallery">
                @{
                    var sewar = 0;
                    for (int e=0;e <2;e++)
                    {
                        sewar++;
                        
                         <a id="EPic" class="image-thumbnail" href="#@sewar">
                            <img src="~/images/Estate/@photosPaths[e].ImagePath" class=" img-fluid w-100 h-100"></a>
                    }
                }

            </div>
        </div>

        
        <div class="light-box modal-content" id="lightbox_1">
            <div class="row edges align-items-baseline">
                <span class="close-btn d-inline"><a href="#"><i class="bi bi-x-lg fs-1 position-absolute"></i></a></span>
                <div class="col p-0">
                    <span class="previous-btn "><a href="#0"><i class="bi bi-arrow-right fs-1"></i></a></span>
                </div>
                <div class="col-10 p-0">
                    <img  src="~/images/Estate/@Model.Main_photo" class="img-fluid position-relative" />
                </div>
                <div class="col p-0">
                    <span class="next-btn"><a href="#0"><i class="bi bi-arrow-left fs-1"></i></a></span>
                </div>
            </div>
        </div>





        @{
            var sear = 0;

            foreach (var pic in @photosPaths)
            {
                <div class="light-box modal-content" id="@sear">
                    <div class="row edges align-items-baseline">
                        <span class="close-btn d-inline"><a href="#"><i class="bi bi-x-lg fs-1 position-absolute"></i></a></span>

                        <div class="col p-0">
                            <span class="previous-btn "><a href="#@sear"><i class="bi bi-arrow-right fs-1"></i></a></span>
                        </div>


                        <div class="col-10 p-0">
                            <img src="~/images/Estate/@pic.ImagePath"
                                    class="img-fluid position-relative" />
                        </div>
     
                        <div class="col p-0">
                            <span class=" next-btn"><a href="#@sear"><i
                                            class="bi bi-arrow-left fs-1"></i></a></span>
                        </div>
                    </div>
                </div>

              }
        }







        <div class="row py-4 text-end ">
            <div class="col-12 col-md-9 ">
                <div class="pe-xl-5">
                  
                    
                        <p class="fs-2 ">عنوان العقار</p>
                        <p><i class="bi bi-geo-alt-fill"></i>@Model.State.name _ @Model.City.name</p>
                        <div class="d-flex justify-content-between align-items-center fs-5">
                            <p><i class="bi bi-building"></i> نوع العقار: @Model.Category.category </p>
                            <p><i class="bi bi-aspect-ratio"></i> مساحة العقار : @Model.space م </p>
                            <p><i class="bi bi-cash"></i> سعر العقار :@Model.price $</p>
                        </div>
                        <div class="d-flex align-items-center flex-wrap">
                            <p class="fs-5">خدمات العقار :</p>
                            <ul class=" d-flex px-0 overflow-auto">
                            @{
                               
                                foreach (var ser in listServices)
                                {
                                    <li class="px-4 imgsernamehover text-center"> 
                                        @ser.Name 
                                        <img class="imgsername" src="@ser.ImagePath" />    
                                    </li>
                                }
                            }
                                
                               
                            </ul>
                        </div>

                        <div class="pt-5">
                            <p class="fs-5 fw-bold">تفاصيل العقار</p>
                            <p> @Model.description</p>
                        </div>


                        
                    <div class="pt-4">
                        <p class="fs-5 fw-bold">موقع العقار</p>
                        <div class="col-12">
                            <div class="d-flex justify-content-around">
                                <p class="px-3"><span>@Html.DisplayNameFor(Models => Models.Longitude): </span><strong
                                        id="Long">@Html.DisplayFor(Models => Models.Longitude)</strong></p>
                                <p class="px-3"><span>@Html.DisplayNameFor(Models => Models.Latitude): </span><strong
                                        id="Lat">@Html.DisplayFor(Models => Models.Latitude)</strong></p>
                            </div>
                            <div id="map" style="width: 100%; height: 450px; margin:12px 0;"></div>
                        </div>
                    </div>



                        <div class="pt-5">
                            <p class="fs-5 fw-bold">اكتب تعليقك</p>
                               <div class="">
            <span id="loginPlease" style="display:none;"> عليك تسجيل الدخول اولا <a href="/Identity/Account/Login">
                    تسجيل الدخول</a></span>
            <form method="">
                <div class="d-flex align-items-center">
                    <textarea id="bodytextarea" style="width:100%;background: var(--bgwhite);color: var(--txtactive);border-radius:20px; padding:8px" rows="3" placeholder="اكتب هنا التعليق...."></textarea>
    
                        <a class="showx " onclick="createComments(@Model.Id)">
                            <i class="bi bi-send-fill iconsend px-2  fs-1 w-100 h-100"></i>
                        </a>
               
                </div>
                <span id="errorEmpty"></span>
            </form>

            <p class="text-success d-none added">تم إضافة التعليق بنجاح</p>

            <h1 class="pt-3 m-0">التعليقات </h1>

            <ul id="comments-list" class="comments-list ">
                @{
                            @if(Models.Count()==0)
                {
                            <li class="text-center text-warning insertdata"> لا يوجد تعليقات </li>
                }
                for (int i = 0; i < Models.Count(); i++) { <li class="@((i!=0 && i!=1) ?" closed":"") @i">
                                <div class="comment-main-level">

                                    <div class="comment-avatar">
              @{

                            if(Models[i].AppUser.ProfilePicture != null)
                            {
                                <img src="data:image/*;base64,@(Convert.ToBase64String(Models[i].AppUser.ProfilePicture))"  alt="">
                            }
                            else
                            { 
                                <img src="/indexLayout/assets/img/pages/user.jpg" />
                            }
              }


                                    </div>

                                    <div class="comment-box">
                                        <div class="comment-head">
                                            <h6 class="comment-name"><a>@Models[i].AppUser.FirstName
                                                    @Models[i].AppUser.LastName </a></h6>


                                            <i class="fa fa-reply" onclick="ShowFormReplay(@i)"> </i>


                                        </div>
                                        <div class="comment-content">
                                            <p>@Models[i].Body</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Respuestas de los comentarios -->
                                @{
                    List<Replaies> lst=await rep.GetCommentReplies(Models[i].Id);

                        if(lst != null)
                        {
                        long q= -1;
                                                <ul class="comments-list reply-list ul-@Models[i].Id">

                                                    @{
                            for (int x = 0; x < lst.Count(); x++) { q=lst[x].Id; <li
                                                                    class=" closedReplaies-@Models[i].Id closedReplaies ">
                                                                    <div class="comment-main-level">

                                                                        <div class="comment-avatar">
                                                                            @{
                                        if(lst[x].AppUser.ProfilePicture != null)
                                        {
                                                                                        <img src="data:image/*;base64,@(Convert.ToBase64String(lst[x].AppUser.ProfilePicture))"
                                                                                            alt="">
                                        }

                                        else
                                        {
                                                                                        <img src="/indexLayout/assets/img/pages/user.jpg" />
                                        }
                                                                            }



                                                                        </div>

                                                                        <div class="comment-box">
                                                                            <div class="comment-head">
                                                                                <h6 class="comment-name"><a>@lst[x].AppUser.FirstName
                                                                                        @lst[x].AppUser.LastName </a></h6>

                                                                            </div>
                                                                            <div class="comment-content">
                                                                                <p style="width:0px">@lst[x].body</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    </li>


                                }
                                                        }


                                                </ul>

                                                <div class="showRepShow showx" style="display: @((q==-1 ) ?" none":"") "  ><a class="
                                                    x-@Models[i].Id" onclick="showReplaies(@Models[i].Id)">عرض الردود</a></div>

                        }

                                    }
                                    </li>

                                    <form method="" id="form-@i" class="closedForm closeafterwirte">
                                        <span class="loginPlac" id="loginPlease-@Models[i].Id" style="display:none !important;"> عليك
                                            تسجيل
                                            الدخول اولا <a href="/Identity/Account/Login"> تسجيل الدخول</a></span>
                                        <div class="formrepla">
                                            <textarea id="bodytextarea-@Models[i].Id" class="textrep" rows="3"
                                                placeholder="اكتب هنا الرد...."></textarea>

                                            <div class="writeRep">

                                                <a class="showx" onclick="createRepaliy(@Models[i].Id)">



                                                    إضافة هنا


                                                </a>

                                                <span class="errorrep" id="errorEmpty-@Models[i].Id"></span>

                                            </div>


                                        </div>

                                    </form>



                        }
                        }


            </ul>
            @{
            if(Models.Count() > 2)
            {
                        <div class="show showx"><a>عرض المزيد</a></div>
            }
            }

        </div>


  



                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">


                <a href="/UsersProfiles/GetProfile/@Model.UserId" class="fs-6 d-block fw-bold text-decoration-none my-4 sl" > 
                     <div class="d-flex align-items-center" href="/Commments/GetProfile/@Model.UserId">
                    @{
                        if(@Model.Users.ProfilePicture==null)
                        {
                                        <img src="~/indexLayout/assets/img/pages/user.jpg" class="userimgs" />
                        }
                        else
                        {
                                    <img class="userimgs" src="data:image/*;base64,@(Convert.ToBase64String(Model.Users.ProfilePicture)) " />
                         }
                    }
                        
                        <p class="m-0 px-1">مالك العقار :</p>
                        <p class="m-0 ">@Model.Users.FirstName @Model.Users.LastName</p>

                    </div>

                </a>



                    <span class="fs-6 d-block text-secondary"><i class="bi bi-eye-fill px-1"></i> المشاهدات @Model.Views+ </span>
                    <span class="fs-6 d-block text-secondary"><i class="bi bi-clock-fill px-1"></i> @Model.OnDate </span>

                    <div class="bg-secondary p-5 my-3">
                        <p class="p-5">
                            اعلان
                        </p>
                    </div>

                </div>
            </div>

        </div>

        <a class="position-fixed py-2 px-3 rounded-circle WOW heartBeat incaht" data-wow-iteration="infinite" data-wow-duration="800ms" data-bs-toggle="tooltip" data-bs-placement="top" title="تواصل مع صاحب العقار" >
            <i class="bi bi-chat fs-1 wow pulse"  data-wow-iteration="infinite" data-wow-duration="500ms" ></i>
        </a>
    </section>

     @*التعليقات*@

     
        <!-- partial:index.partial.html -->
        <!-- Contenedor Principal -->
     



      



@section Scripts{



        <script type="text/javascript">

            const showContainers = document.querySelectorAll(".closed");


            let sh = document.getElementsByClassName('show')[0];

            sh.addEventListener('click', function () {
                if (sh.innerHTML == "عرض أقل") {
                    sh.innerHTML = "عرض المزيد"
                }

                else {
                    sh.innerHTML = "عرض أقل"
                }
                showContainers.forEach((child) => child.classList.toggle("closed"));

            })
            function showReplaies(id) {


                const showContainers1 = document.querySelectorAll(`.closedReplaies-${id}`);

                console.log(showContainers1)


                let shs = document.getElementsByClassName(`x-${id}`)[0];
                if (shs.innerHTML == "عرض الردود") {
                    shs.innerHTML = "إخفاء الردود"
                }

                else {
                    shs.innerHTML = "عرض الردود"
                }
                showContainers1.forEach((child) => child.classList.toggle("closedReplaies"));

            }






            function hicreateElement(name, photo, txt,Id) {



                console.log('hicreateElement');

                var li = document.createElement('li');





                var div1 = document.createElement('div');
                div1.classList.add('comment-main-level');




                var divAvatar = document.createElement('div');
                divAvatar.classList.add('comment-avatar');

                var image = document.createElement('img');


                image.src = photo;









                var div2 = document.createElement('div');
                div2.classList.add("comment-box");
                divAvatar.appendChild(image);

                div1.appendChild(divAvatar);
                var div3 = document.createElement('div');
                div3.classList.add('comment-head');

                var h6 = document.createElement('h6');

                h6.classList.add('comment-name');


                var Ah6 = document.createElement('a');
                Ah6.href = "";

                Ah6.innerHTML = name;





                var replay1 = document.createElement('i');
                replay1.classList.add('fa');
                replay1.classList.add('fa-reply');

                replay1.setAttribute('onclick',`ShowFormReplay(${Id})`)


                h6.appendChild(Ah6);
                div3.appendChild(h6);
                div3.appendChild(replay1);

                var div4 = document.createElement('div');
                div4.classList.add('comment-content');
                var p = document.createElement('p');
                p.innerHTML = txt;
                li.appendChild(div1);
                div1.appendChild(div2);
                div4.appendChild(p);

                div2.appendChild(div3);
                div2.appendChild(div4);




                var ul = document.getElementById('comments-list');
                ul.appendChild(li);



            }



            function createComments(idestate) {
                var txt = document.getElementById('bodytextarea').value;
                var errorEmpty = document.getElementById('errorEmpty');
                var loginPlease = document.getElementById('loginPlease');

                var added = document.getElementsByClassName('added')[0];

                var insertdata = document.getElementsByClassName('insertdata')[0];

                if (txt == "") {
                    errorEmpty.innerHTML = "أدخل التعليق "

                    return;
                }

                else if (txt.length > 50) {
                    errorEmpty.innerHTML = "الحد الاقصى 50 حرف "

                    return;
                }
                $.ajax({
                    method: 'Get',
                    url: `/Estate/AddComment`,
                    data: { id: idestate, body: txt },

                    success: function (data) {
                        if (data.status == "Insert") {
                            hicreateElement(data.name, data.photo, txt,data.Id);
                            document.getElementById('bodytextarea').value = "";

                            errorEmpty.innerHTML = "";
                            loginPlease.innerHTML = ""

                            added.innerHTML = "تم إضافة التعليق بنجاح";
                            added.classList.remove('d-none');

                            setTimeout(() => {
                                added.classList.add('d-none');
                            }, "3000")

                            insertdata.classList.add('d-none');

                        }

                        else if (data.status == "Disconnected") {

                            loginPlease.style.display = "block"


                        }
                    }
                });




                console.log(txt, idestate);





            }
        </script>

        <script>

            function ShowFormReplay(i) {

                console.log('createRepalys');




                let formRep = document.getElementById(`form-${i}`);



                formRep.classList.toggle("closedForm");


            }



        </script>

        <script>
            function createRepaliy(id) {

                console.log('hiEveryOne')

                var txt = document.getElementById(`bodytextarea-${id}`).value;

                var added = document.getElementsByClassName('added')[0];



                var errorEmpty = document.getElementById(`errorEmpty-${id}`);
                var loginPlease = document.getElementById(`loginPlease-${id}`);


                var closedForm = document.getElementsByClassName('closeafterwirte')[0]


                if (txt == "") {
                    errorEmpty.innerHTML = "أدخل الرد ";

                    return;
                }

                else if (txt.length > 50) {
                    errorEmpty.innerHTML = "الحد الاقصى 50 حرف "

                    return;
                }

                $.ajax({
                    method: 'Get',
                    url: `/Estate/AddReplay`,
                    data: { id: id, body: txt },

                    success: function (data) {
                        if (data.status == "Insert") {

                            hicreateElementRep(data.name, data.photo, id, txt);
                            added.innerHTML = "تم إضافة الرد بنجاح";
                            added.classList.remove('d-none')

                            document.getElementById(`bodytextarea-${id}`).value = "";

                            errorEmpty.innerHTML = "";


                            setTimeout(() => {
                                added.classList.add('d-none');
                            }, "3000")

                            closedForm.classList.add('closedForm')

                            loginPlease.innerHTML = "";

                        }

                        else if (data.status == "Disconnected") {

                            loginPlease.style.display = "block"

                        }
                    }
                });


            }

        </script>

        <script>





            function hicreateElementRep(name, photo, id, txt) {
                var li = document.createElement('li');
                li.classList.add(`closedReplaies-${id}`);


                var divs = document.createElement('div');
                divs.classList.add('comment-main-level');

                var divs1 = document.createElement('div');
                divs1.classList.add('comment-avatar');

                var imagex = document.createElement('img');

                imagex.src = photo;
                divs1.appendChild(imagex);

                var divs2 = document.createElement('div');
                divs2.classList.add('comment-box');


                var divs3 = document.createElement('div');
                divs3.classList.add('comment-head');

                divs2.appendChild(divs3);

                var h6 = document.createElement('h6');
                h6.classList.add('comment-name');

                var a = document.createElement('a');


                h6.textContent = name;
                h6.appendChild(a);

                divs3.appendChild(h6);
                var divs4 = document.createElement('div');
                divs4.classList.add('comment-content');

                divs4.innerHTML = txt;

                divs2.appendChild(divs4);

                divs.appendChild(divs1);
                divs.appendChild(divs2);

                li.appendChild(divs);


                var ul = document.getElementsByClassName(`ul-${id}`)[0];



                ul.appendChild(li);






            }

        </script>


        


        
<script type="text/javascript">
    //التفاصيل
    new WOW().init();
    AOS.init({
    })
 
    function openModal() {
        document.getElementById("myModal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("myModal").style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }

    

</script>
<script>
    //the map
       var x = document.getElementById('Long');
       var xx= x.innerHTML;

        var y = document.getElementById('Lat');
        var yy= y.innerHTML;
    function initMap() {
        var mapOptions = {
            center: new google.maps.LatLng(`${xx}`, `${yy}`),
            mapTypeId: google.maps.MapTypeId.satellite,   /* ()أنواع 4)نوع الخريطة*/
            zoom: 16 // The largest 16 (zooming)
        };
        var elm = document.getElementById('map');
        var mymap = new google.maps.Map(elm, mapOptions);  // create an object (new)
        var pinlocation = new google.maps.LatLng(`${xx}`, `${yy}`);
        var startposition = new google.maps.Marker(
            {
                position: pinlocation,
                map: mymap,
                icon: "/images/Untitled-1.png"

            });

    }
    window.onload = function () {
        console.log(xx,yy);

        var code = document.createElement('script');
        code.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyAXuizXxXdy3kjKyHQrjt7femrQR2QtZaE&callback=initMap";
        document.body.appendChild(code);
    }
</script>

        }



