@model AppUser;
 

  <section class="py-5">

    <div class="container">
        <input id="txtId" hidden value="@Model.Id" />
        <input id="txtName" hidden value="@Model.FirstName @Model.LastName" />
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              الصفحة الشخصية
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body text-center">

              <div class="">
                                      @{
  if(@Model.ProfilePicture==null)
  {
                                                                              <img class="img-fluid prof-img rounded-circle" data-bs-toggle="modal"
                  data-bs-target="#myModal"  src="~/indexLayout/assets/img/pages/user.jpg" />
  }
  else
  {
                                                                          <img class="img-fluid prof-img rounded-circle" data-bs-toggle="modal"
                                                                                          data-bs-target="#myModal"    src="data:image/*;base64,@(Convert.ToBase64String(Model.ProfilePicture)) " />
   }
}
               
              </div>

              <div class="modal" id="myModal">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                      @{
  if(@Model.ProfilePicture==null)
  {
                                                                              <img class="img-fluid"  src="~/indexLayout/assets/img/pages/user.jpg" />
  }
  else
  {
                                                                          <img class="img-fluid"   src="data:image/*;base64,@(Convert.ToBase64String(Model.ProfilePicture)) " />
   }
}
                  
                    <button type="button" class="btn-close position-absolute top-0 fs-2"
                      data-bs-dismiss="modal"></button>

                  </div>
                </div>
              </div>
              <p class="fs-3 m-0 mt-3">@Model.FirstName @Model.LastName</p>
              <p class="text-secondary">صاحب عقار</p>
              <p class="fs-5">@Model.decription </p>
              <div class="d-flex justify-content-center align-items-center" style="height: 50px;">


                <div class="bg-icon f">
                  <a href="@Model.facebook" class="text-white"><i class="bi bi-facebook "></i></a>
                </div>
                <div class="bg-icon n">
                  <a href="@Model.instigram" class="text-white"><i class="bi bi-instagram "></i></a>
                </div>

                <div class="bg-icon t">
                  <a href="@Model.twitter" class="text-white"><i class="bi bi-twitter "></i></a>
                </div>

                <div class="bg-icon w">
                  <a href="@Model.PhoneNumber" class="text-white"><i class="bi bi-whatsapp "></i></a>
                </div>
              </div>


            </div>
          </div>
        </div>


            @{
                if (ViewBag.flag == true)
                {
                                                                                            <div class="accordion-item">
                                                                                                <h2 class="accordion-header" id="headingTwo">
                                                                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                                                      data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                                                                        العقارات
                                                                                                    </button>
                                                                                                </h2>
                                                                                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                                                                    data-bs-parent="#accordionExample">
                                                                                                    <div class="accordion-body text-end p-5">


                                                                                                        <div data-view="list-view" class="download-cards">
                                                                                                            <a href="#">
                                                                                                                @{
                                            foreach(var estate in ViewBag.lstEstates as IEnumerable<Estate>)
                                            {
                                                                                                                                                                                                  <article class="download-card">

                                                                                                                                                                                            <div class="download-card__icon-box">
                                                                                                                                                                                                <img src="~/images/Estate/@estate.Main_photo" class="img-fluid" />
                                                                                                                                                                                                <div class="bottomright">@estate.Type.type</div>
                                                                                                                                                                                            </div>
                                                                                                                                                                                            <div class="content">
                                                                                                                                                                                                <a class="titleral" href="">
                                                                                                                                                                                                    <h3> عنوان العقار </h3>
                                                                                                                                                                                                </a>
                                                                                                                                                                                                <p class="pt-2"><i class="bi bi-geo-alt"></i>@estate.State.name _@estate.City.name</p>


                                                                                                                                                                                                <p class="p"> @estate.description</p>

                                                                                                                                                                                                <div class="d-flex justify-content-between align-items-center pt-3">
                                                                                                                                                                                                    <div class=" d-flex align-items-center">
                                                                                                                                                                                                                @{
                                                                    if(@estate.Users.ProfilePicture!=null)
                                                                    {
                                                                                                                                                                                                                                                                                                <img class="img-fluid text-right rounded-circle" style="width: 50px;height: 50px;"
                                                                                                                                                                                                                                                                                      src="data:image/*;base64,@(Convert.ToBase64String(@estate.Users.ProfilePicture)) ">
                                                                    }
                                                                    else
                                                                    {
                                                                                                                                                                                                                                                                                                <img class="img-fluid text-right rounded-circle" style="width: 50px;height: 50px;"
                                                              src="~/indexLayout/assets/img/pages/user.jpg">
                                                                    }

                                                                                                                                                                                                    }
                                                                                                                                                                                             
                                                                                                                                                                                                        <div class="pe-3">
                                                                                                                                                                                                            <a href="" class="mb-0 titleral">
                                                                                                                                                                                                                مالك العقار: @estate.Users.FirstName @estate.Users.LastName
                                                                                                                                                                                                            </a>
                                                                                                                                                                                                            <p class="mb-0 text-secondary">تاريخ الاضاقة : @estate.OnDate</p>

                                                                                                                                                                                                        </div>
                                                                                                                                                                                                    </div>
                                                                                                                                                                                                    <p class="m-0"><i class="heart bi bi-heart-fill ms-5"></i></p>
                                                                                                                                                                                                </div>
                                                                                                                                                                                            </div>
                                                                                                                                                                                        </article>
                                            }
                                                                                                                }
                                                                                                              
                                                                                                            </a>
                                                                                                        </div>





                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                }
                

            }

      

      </div>

    </div>

  </section>

@section Scripts{
     @(await Html.PartialAsync("_ValidationScriptsPartial"));
    <script type="text/javascript">
        $(document).ready(function() {
         
            var x = $("#txtId").val();
          
            localStorage.setItem("ChatUserId",x);
            localStorage.setItem("ChatUserName",$("#txtName").val());
        });
    </script>
}


 


