@model GP.Models.Contract

@{

    ViewData["ActivePage"] = ManageNavPages.IndexContract; 

    ViewData["Title"] = "تفاصيل العقد";
}

@{
    Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}


  <div class="text-start position-absolute left-0" style="border-bottom: 2px solid var(--orange);left: 20px;top: 20px;">
    <a asp-action="Index" style="text-decoration:none; color:var(--orange);">رجوع للعقود <i
        class="bi bi-arrow-90deg-right"></i></a>
  </div>



    <br />
    <div class="text-center">
      <h3>تفاصيل وثيقة العقد </h3><hr />
    </div>
    <div class="container-fluid">
      <div class="row" style="text-align:center;">
          <div class="col-12 col-md-6">
              <p>@Html.DisplayNameFor(model => model.SallerName) : <b>@Html.DisplayFor(model => model.SallerName)</b></p>
              <p>@Html.DisplayNameFor(model => model.BuyerName) : <b>@Html.DisplayFor(model => model.BuyerName)</b></p>
          </div>
          <div class="col-12 col-md-6">
              <p>@Html.DisplayNameFor(model => model.Sallerphone_num) : <b>@Html.DisplayFor(model => model.Sallerphone_num)</b></p>
              <p>@Html.DisplayNameFor(model => model.Buyerphone_num) : <b>@Html.DisplayFor(model => model.Buyerphone_num)</b></p>
          </div>
          <div class="col-12 col-md-6">
              <p>@Html.DisplayNameFor(model => model.Longitude) : <b>@Html.DisplayFor(model => model.Longitude)</b></p>
              <p>@Html.DisplayNameFor(model => model.Type) : <b>@Html.DisplayFor(model => model.Type)</b></p>
          </div>
          <div class="col-12 col-md-6">
              <p>@Html.DisplayNameFor(model => model.Latitude) : <b>@Html.DisplayFor(model => model.Latitude)</b></p>
              <p>@Html.DisplayNameFor(model => model.category) : <b>@Html.DisplayFor(model => model.category)</b></p>
          </div>
          <div class="col-12 py-3 text-center">
              @Html.DisplayNameFor(model => model.Description)<br/>
              <b>@Html.DisplayFor(model => model.Description)</b>
          </div>
           <div class="col-12  text-center">
             <p>  @Html.DisplayNameFor(model => model.OnDate):@Html.DisplayFor(model => model.OnDate)</p>
            @{
                if (Model.Type == "إيجار")
                {
                    <p> @Html.DisplayNameFor(model => model.up_to_date)  @Html.DisplayFor(model => model.up_to_date)</p>

                }
            }
               
               
          </div>
       <lottie-player src="https://assets10.lottiefiles.com/private_files/lf30_0mqvd6ao.json" background="transparent"
          speed="1" style="width: 300px; height: 300px;" class="mx-auto" loop autoplay></lottie-player>
      </div>

    </div>


