@model GP.Models.Contract

@{

    ViewData["ActivePage"] = ManageNavPages.IndexContract; 

    ViewData["Title"] = "تفاصيل العقد";
}

@{
    Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}


<div class="text-start position-absolute left-0" style="border-bottom: 2px solid var(--orange);left: 20px;top: 20px;">
    <a asp-action="Index" style="text-decoration:none; color:var(--orange);">رجوع للعقود <i class="bi bi-arrow-90deg-right"></i></a>
</div>

<div>
   <br />
<div class="text-center">
    <h3>تفاصيل وثيقة العقد</h3><hr />
<br />
</div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SallerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SallerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sallerphone_num)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sallerphone_num)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuyerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuyerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Buyerphone_num)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Buyerphone_num)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.up_to_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.up_to_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.category)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estate.Latitude)
        </dd>
       
    </dl>
</div>
