@model IEnumerable<GP.Models.Contract>

@{

        ViewData["ActivePage"] = ManageNavPages.IndexContract; 

    ViewData["Title"] = "العقود";
          //  Layout = "~/Views/Shared/_LayoutOwner.cshtml";

             if (User.IsInRole("Owner"))
    {
        Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
      
    }

}



<p class="text-center py-3 fs-4"><span class="txtborder"> العقود   </span></p>


<form method="post">
    @foreach (var item in Model) {
    <div class="card my-3">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <p class="m-0"> عقد مع   @Html.DisplayFor(modelItem => item.BuyerName)</p>
            <p class="m-0">تاريخ نهاية العقد</p>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">عقد مع</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
     }



<table class=" pt-5 table table-bordered table-md text-center ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SallerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sallerphone_num)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.BuyerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buyerphone_num)
            </th>
           
           
            <th>
                @Html.DisplayNameFor(model => model.up_to_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
           
            <th>
                الحالة
                
            </th>
             <th>
                التفاصيل
                
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SallerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sallerphone_num)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.BuyerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buyerphone_num)
            </td>
          
            
             @if(item.Type == "إيجار"){
                   <td>
                    @Html.DisplayFor(modelItem => item.up_to_date)
                    </td>
                }

                else
                {
                    <td></td>
                }

            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>

                   <td>
                @{

             
                    if(item.Type == "إيجار" )
                    {

                        if (item.isDone == 1)
                        {
                           
                                   <a href="#" class="btn btn-danger" >   تم تفعيل العقار</a>
                     
                        }
                        else if(item.up_to_date < DateTime.Today)
                        {
                              
                     <button  asp-area="" asp-action="EeEstate" asp-controller="Contract" asp-route-id="@item.Id" type="submit" onclick="ff(event)" class="m  btn bg-success" >تفعيل العقار</button>
                          

                        }

                        else
                        {
                          
                                   <a href="#" class="btn btn-secondary" >   العقار محجوز  </a>
                        
                        }

                        }


                        
                    }
                   

                  </td>
                  <td>

                       <a href="Contract/Details/@item.Id" class="btn btn-secondary" >عرض</a>
                  </td>
                   
                     

                
                
        </tr>
}
    </tbody>
</table>

</form>



@section Scripts{
         
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



    
         <script>
        var lots_of_stuff_already_done = true;

        function ff(e){
            if(lots_of_stuff_already_done){

                e.preventDefault()

            }
const swalWithBootstrapButtons = Swal.mixin({
  customClass: {
    confirmButton: 'btn btn-success',
    cancelButton: 'btn btn-danger'
  },
  buttonsStyling: false
})

swalWithBootstrapButtons.fire({
  
  title: ' هل انت متأكد من اعادة نشر العقار  ؟ ',
  text: "سيترتب على ذلك ظهور العقار للمستخدمين ، للتعديل عليه اذهب لقائمة عقاراتك ومت ثم التعديل   ",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonText: 'نعم ، موافق',
  cancelButtonText: 'لا',
  reverseButtons: true
}).then((result) => {
  if (result.isConfirmed) {
       lots_of_stuff_already_done = false;
       if(!lots_of_stuff_already_done){
       
           $('.m').trigger('click')
       }
    
      swalWithBootstrapButtons.fire(
      'تم اعادة النشر بنجاح ',
      '',
      'success'
    )
     
  } 
})













};
    
    </script>
    

}