@page
@model LoginModel

@{ 
    ViewData["Title"] = "Log in";
    Layout = null;

    }
<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewData["Title"]</title>
  <link rel="shortcut icon" href="~/indexLayout/assets/img/logo/logo.png">
  <link href="~/indexLayout/assets/bootstrap/bootstrap4.min.css" rel="stylesheet">
  <link href="~/indexLayout/assets/bootstrap/bootstrap5.min.css" rel="stylesheet">
  <link href="~/indexLayout/assets/bootstrap/font-awesome.min.css" rel="stylesheet">
  <link href="~/indexLayout/assets/bootstrap/bootstrap-icons.css" rel="stylesheet">
  <link href="~/indexLayout/assets/bootstrap/animate.min.css" rel="stylesheet">
  <link href="~/indexLayout/assets/bootstrap/aos.css" rel="stylesheet">
  <link href="~/indexLayout/assets/css/swiper.css" rel="stylesheet" />
  <link href="~/indexLayout/assets/css/profile.css" rel="stylesheet">
  <link href="~/indexLayout/assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="~/login/bulma.min.css" />

</head>
<style>

.padable{
    padding: 3em;
    color:var(--txtactive);
}
.main-section{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-row{
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 0px 5px #858585;
}
.component-row h1{
  font-weight: bold;
  margin-bottom: 1em;
  font-size: 1.8em;
  position: relative;
}
.line{
  width: 90px;
  border-bottom: 6px solid #005c4b;
  position: absolute;
  top: 50%;right: 6em;
}
.illustrator{position: relative;}
.circle {
    border-radius: 50%;
    width: 900px !important;
    height: 900px !important;
    background-color: #005c4b;
    position: absolute;
    top: -12px !important;
    left: -27em;
    border: 8px solid rgba(255,255,255,0.8);
}
.circle-main {
    border-radius: 50%;
    width: 600px;
    height: 600px;
    background-color: #005c4b;
    position: absolute;
    bottom: -20em;
    right: -20em;
}
.circle-main-m {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 1.2em;
    right: 14em;
    background-color: #005c4b;
    background-image: linear-gradient(315deg, #005c4b 0%, #8fa177 100%);
}
.circle-main-s {
    border-radius: 20%;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 15em;
    background-color: #005c4b;
    background-image: linear-gradient(315deg, #005c4b 0%, #ffffff 100%);
}

.input:active, .input:focus, .is-active.input, .is-active.textarea, .is-focused.input, .is-focused.textarea, .select select.is-active, .select select.is-focused, .select select:active, .select select:focus, .textarea:active, .textarea:focus {
  border-color: #005c4b;
  box-shadow: 0 0 0 0.125em #005c4b9b;
  color: #005c4b;
}


.form-check-input:checked {
  background-color: #005c4b;
  border-color: #005c4b;
}

.bgcolors{
  background-color: #005c4b; 
}
.colors{
  color: #858585; 
  border-bottom:1px solid #858585;
}

a:hover {
  color:  #005c4bc2 ;
}
.form-control {
    background-color: var(--form) !important;
    color: var(--txtactive) !important;
    border: 1px solid #a6a6a691 !important;
}
.form-control::placeholder {
  color: #dbdbdb;
}
</style>


<body dir="rtl" style="overflow: hidden;">

  <header style=" padding-bottom: 100px;">
    <nav class="navbar align-items-center p-0 navbar-expand-md navbar-dark fixed-top" style="background-color: var(--green);" id="navbar">
      <div class="container-fluid">
        <a class="navbar-brand navbar-logo" href="index.html">
          <img src="~/indexLayout/assets/img/logo/logowit.png" class="img-fluid logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">الرئيسية </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">شليه</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">اراضي</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">اراضي</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">اراضي</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">اراضي</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">من نحن</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-area="" asp-controller="ContactUser" asp-action="Index">تواصل معنا</a>
            </li>
             @if (User.IsInRole("Admin"))
             {
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="AdminOperation" asp-action="Index">لوحة التحكم</a>
                </li>
             }
          </ul>
          <div class="d-flex me-auto align-items-center">
            <div class="toggle-container">
              <button class="theme-btn text-white light" onclick="setTheme('light')" title="Light mode">
                <i class="bi bi-brightness-high-fill"></i>
              </button>
              <button class="theme-btn text-white dark" onclick="setTheme('dark')" title="Dark mode">
                <i class="bi bi-moon-stars-fill"></i>
              </button>
            </div>
            <a class="nav-link p-0 pe-1 dropdown-toggle fs-2 text-white" data-bs-toggle="dropdown" href="#"
              role="button" aria-expanded="false">
                          
                                    <i class="bi bi-person-bounding-box"></i>
                          
          </a>
            <ul class="dropdown-menu text-center m-2">
             
             
           

                            @{
                                if (User.IsInRole("Owner"))
                                {
                                     <li><a class="dropdown-item d-flex justify-content-center align-items-center"asp-area="Identity" asp-page="/Account/Manage/Index" >الصفحة الشخصية</a></li>
                                }
                                else if (User.IsInRole("User"))
                                {
                                     <li><a class="dropdown-item d-flex justify-content-center align-items-center" asp-area="Identity" asp-page="/Account/Manage/PersonalUser">الصفحة الشخصية</a></li>
                                }
                            }
              @if (User.IsInRole("Owner") )
              {
                <li>
                  <a class="dropdown-item" asp-area="" asp-controller="Estate" asp-action="CreateTemp">
                  اضافة عقار
                  <i class="bi bi-building"></i>
                </a>
              </li>
               }

              

              <li>
                <hr class="dropdown-divider">
              </li>
               <partial name="_LoginPartial" />
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>







    <section class="">
        <div class="circle-main"></div>
        <div class="circle-main-m"></div>
        <div class="circle-main-s"></div>

        <div class="container white-bg">
            <div class="columns background component-row">

                <div class="column ">
                    <div class="padable text-end">
                        <h1>
                            تسجيل دخول
                            <span class="line"></span>
                            <span>
                                <!--الايقونات -->
                            </span>

                        </h1>
                        <span class="text-danger">@ViewData["Error"]</span>
                        <form id="account" method="post">
                            <div class="field">
                                
                                <div class="control has-icons-left has-icons-right">
                                    <input asp-for="Input.Email" class="input is-medium form-control rounded-pill" type="text" placeholder="البريد الالكتروني" value="" required>
                                    <span class="icon is-small is-right">
                                        <i class="bi bi-person-fill"></i>
                                    </span>
                                </div>
                                <p class="text-danger"></p>
                            </div>

                            <div class="field">
                                <div class="control has-icons-left has-icons-right">
                                    <input asp-for="Input.Password" class="input is-medium form-control rounded-pill" type="password"  id="password" placeholder="كلمة المرور">
                                    <span class="icon is-small is-right">
                                        <i class="bi bi-lock-fill"></i>
                                    </span>
                                    <span class="is-small position-absolute justify-content-center " style="color: #dbdbdb; left: 20px; top:10px;">
                                        <i class="bi bi-eye-slash" id="togglePassword"></i>

                                    </span>
                                </div>
                                <p class="text-danger"></p>
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="Input.RememberMe" />
                                        تذكرني
                                    </label>
                                </div>
                            </div>

                            <br />

                            <div class="pb-3">
                                <button type="submit" class="col-12 btn bgcolors text-white rounded-pill">تسجيل دخول</button>
                            </div>
                            <div>
                                <a class="colors" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">انشاء حساب</a>
                            </div>


                        </form>
                    </div>
                </div>

                <div class="column d-md-none d-lg-block">
                    <div class="illustrator ">
                        <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_4u33kbls.json" background="transparent" speed="2" style="width: 550px; height: 500px;left:10px; position: absolute;z-index: 100;" autoplay></lottie-player>
                        <div class="circle"></div>
                    </div>
                </div>


            </div>
        </div>


    </section>

        <script src="~/js/Login/all.js"></script>
    <script src="~/js/Login/lottie-player.js"></script>
      <script src="~/indexLayout/assets/bootstrap/ajax_query.min.js"></script>
  <script src="~/indexLayout/assets/bootstrap/wow.min.js"></script>
  <script src="~/indexLayout/assets/bootstrap/aos.js"></script>
   <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/bootstrap/ajax_query.min.js"></script>
    <script src="~/assets/bootstrap/jquery-3.1.0.min.js" type="text/javascript"></script>
  <script src="~/indexLayout/assets/js/swipar.js"></script>
  <script src="~/indexLayout/assets/js/loding.js"></script>
  <script src="~/indexLayout/assets/js/index.js"></script>
    <script>
        const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#password");

        togglePassword.addEventListener("click", function () {
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);
            this.classList.toggle("bi-eye");
        });
    </script>

</body>

</html>


@*<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{ if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                <div>
                    <p>
                        There are no external authentication services configured. See <a href="https: //go.microsoft. com/fwlink/?LinkID=532715">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div> }
                            else
                            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>}
                        </p>
                    </div>
                </form> } }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#password");

        togglePassword.addEventListener("click", function () {
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);
            this.classList.toggle("bi-eye");
        });
    </script>*@
}