@model IEnumerable<GP.Models.likedEstates>

@{
    ViewData["Title"] = "Index";

    if (User.IsInRole("User"))
    {
        Layout = "/Areas/Identity/Pages/Account/Manage/_Layout - User.cshtml";

    }

    else if (User.IsInRole("Owner"))
    {
           Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
    }
}

<h1>Index</h1>

<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estate.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estate.description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a href="/Estate/Detalis/@item.Estate.Id">
                @Html.DisplayFor(modelItem => item.Estate.Id)    
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estate.description)
            </td>
            <td>
               
                <a href="javaScript:;" class="btn-danger btn js-delete"data-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('.js-delete').on('click',function(){
                var btn = $(this);



                bootbox.confirm({
                    message: "Are you sure that you need to delete this user ?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-success'
                        }
                    },
                    callback: function (result) {
                        //console.log('This was logged in the callback: ' + result);
                        if(result){
                            $.ajax({
                                url:'likedEstates/Delete/?id=' +btn.data('id'),
                                method : 'delete',
                                success :function (){
                                    btn.parents('tr').fadeOut();
                                    $('#alert').removeClass('d-none');
                                    setTimeout(function(){
                                        $('#alert').addClass('d-none');
                                    
                                    },3000);

                                },
                                error :function (){
                                    alert('Something went wrong ')
                                }
                            })
                        }
                    }
                });


             




            });
        });
    </script>
}