@model IEnumerable<GP.Models.likedEstates>

@{
    ViewData["Title"] = "Index";

    if (User.IsInRole("User"))
    {
        Layout = "/Areas/Identity/Pages/Account/Manage/_Layout - User.cshtml";

    }

    else if (User.IsInRole("Owner"))
    {
           Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
    }
}

<h1>Index</h1>

<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estate.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estate.description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a href="/Estate/Detalis/@item.Estate.Id">
                @Html.DisplayFor(modelItem => item.Estate.Id)    
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estate.description)
            </td>
            <td>
               
                <a asp-action="Delete" asp-controller="likedEstates" class="btn-danger btn js-delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts{
    <script>
       
    </script>
}